@use '../../../inc/mixins/breakpoints' as media;
@use '../../../inc/mixins/hover' as hover;

.helper {
  position: relative;
  padding: 5rem 0;
  overflow: hidden;

  &__container {
    position: relative;
    z-index: 3;
    --container-max-width: 99rem;

    @include media.xl {
      --container-max-width: 107rem;
    }

    @include media.xxl {
      --container-max-width: 118rem;
    }
  }

  &__heading {
    line-height: calc(29 / 24);
    color: #0049d3;
    --fz-heading: 2.4rem;
    --mb-heading: 2.5rem;

    @include media.sm {
      max-width: 47rem;
      --fz-heading: 2.8rem;
    }

    @include media.md {
      max-width: 54rem;
      --fz-heading: 3.2rem;
    }

    @include media.lg {
      max-width: 65rem;
      --fz-heading: 4rem;
    }

    @include media.xl {
      max-width: 67rem;
      --fz-heading: 4.2rem;
    }

    @include media.xxl {
      max-width: 70rem;
      --fz-heading: 4.4rem;
    }
  }

  &-slider {
    position: relative;
    width: calc(100% + var(--container-padding-x));
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 2rem 3.6rem 2rem 2rem;
    border-radius: 25px 0 0 25px;
    background-image: linear-gradient(180.21deg, #3C7BF8 -0.75%, #5887FF 15.19%, #A7CDFF 37.81%, #F7F9FF 83.93%);
    
    @include media.lg {
      width: 100%;
      padding: 2rem;
      border-radius: 25px;
    }

    &>.swiper-wrapper {
      z-index: 2;
      align-items: stretch;
    }
  }

  &__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 89.31%;
    max-height: 37.8rem;
    height: auto;
    padding: 2rem 0 0;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #B0D5FF 100%);
    box-shadow: 0px 2px 22.1px rgba(41, 99, 163, 0.1);
    border-radius: 20px;
    overflow: hidden;

    @include media.xxl {
      max-height: 43.7rem;
    }

    &:nth-child(even) {
      background-image: linear-gradient(180deg, #FFFFFF 17.97%, #ADE8FF 74.11%, #51A2FF 107.2%);
    }

    &-name {
      text-align: center;
      font-weight: 600;
      font-size: 2rem;
      line-height: calc(24 / 20);
      color: var(--color-dark);
      padding: 0 2rem;
      margin: 0;

      @include media.xxl {
        font-size: 2.2rem;
      }
    }

    &-text {
      text-align: center;
      font-weight: 600;
      font-size: 1.4rem;
      line-height: calc(17 / 14);
      color: var(--color-dark);
      padding: 0 2rem;
      margin: 0;

      @include media.xxl {
        font-size: 1.6rem;
      }
    }

    &-image {
      position: relative;
      display: flex;
      max-width: 100%;
      width: 100%;
      height: auto;
      flex-grow: 1;
      overflow: hidden;

      &>img {
        flex-grow: 1;
        max-width: 100%;
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center top;
      }
    }
  }

  &__text {
    position: relative;
    z-index: 2;
    text-align: center;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: calc(29 / 24);
    color: var(--color-dark);
    padding-right: var(--container-padding-x);
    margin: -1rem 0 0;

    @include media.lg {
      margin-top: 0;
      padding-right: 0;
    }

    @include media.xl {
      font-size: 2.6rem;
    }

    @include media.xxl {
      font-size: 2.8rem;
    }
  }

  &__row {
    position: relative;
    z-index: 2;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.4rem;
    padding-right: var(--container-padding-x);

    @include media.sm {
      flex-direction: row;
      justify-content: center;
      gap: 1.2rem;
    }

    @include media.lg {
      margin-top: -0.5rem;
      padding-right: 0;
    }

    @include media.xl {
      gap: 1rem;
    }
  }

  &__badge {
    max-width: 40rem;
    width: 100%;
    min-height: 7rem;

    border-width: 2px;
    border-radius: 16px;

    @include media.sm {
      max-width: none;
      width: auto;
      padding: 0.7rem 1.5rem;
    }

    &>img.badge__img {
      max-height: 5.2rem;

      @include media.sm {
        max-height: 5.2rem;
      }
    }
  }
}