@use '../../inc/mixins/breakpoints' as media;
@use '../../inc/mixins/patterns' as pat;

.meditation {
  position: relative;
  z-index: 1;

  &__heading {
    max-width: 36rem;

    @include media.lg {
      max-width: 54rem;
    }

    @include media.xl {
      max-width: 56rem;
    }

    @include media.xxl {
      max-width: 58rem;
    }

    @include media.xxxl {
      max-width: 66rem;
    }
  }

  &__sub-title {
    max-width: 44rem;

    font-weight: 600;
    font-size: 1.6rem;
    line-height: calc( 19 / 16 );
    text-align: center;

    margin: 0 auto var(--mb-heading);

    @include media.lg {
      max-width: 68rem;
      line-height: calc( 29 / 24 );
      font-size: 2.4rem;
    }

    @include media.xl {
      max-width: 76rem;
      font-size: 2.8rem;
    }

    @include media.xxl {
      max-width: 92rem;
      font-size: 3.2rem;
    }

    @include media.xxxl {
      max-width: 101rem;
      font-size: 3.5rem;
    }

    &-accent {
      color: var(--color-base);
    }
  }

  &__row {
    --gap-item: 1.5rem;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: var(--gap-item);

    &:not(:last-child) {
      margin-bottom: 2rem;

      @include media.lg {
        --gap-item: 3rem;
        margin-bottom: 2.5rem;
      }

      @include media.xl {
        margin-bottom: 3rem;
      }

      @include media.xxl {
        --gap-item: 3.5rem;
        margin-bottom: 3.5rem;
      }

      @include media.xxxl {
        --gap-item: 4rem;
        margin-bottom: 4rem;
      }
    }
  }

  &__item {
    width: 100%;
    max-width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.6rem;

    box-shadow: 0px 1px 14px rgba(202, 191, 167, 0.25);
    backdrop-filter: blur(4px);
    background-color: rgba(#fff, .43);
    border-radius: 13px;
    padding: 1rem;

    @include media.md {
      width: calc(50% - var(--gap-item) / 2);
    }

    @include media.lg {
      padding: 2rem;
      border-radius: 14px;
    }

    @include media.xl {
      gap: 0.7rem;
      padding: 2.2rem;
      border-radius: 15px;
    }

    @include media.xxl {
      gap: 0.8rem;
      padding: 2.6rem;
      border-radius: 18px;
    }

    @include media.xxxl {
      gap: 0.9rem;
      padding: 3rem;
      border-radius: 20px;
    }
  }

  &__text {
    max-width: 100%;
    width: 100%;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: calc( 19 / 16);
    color: var(--color-text);
    margin: 0;

    @include media.lg {
      font-size: 2.1rem;
    }

    @include media.xl {
      font-size: 2.4rem;
    }

    @include media.xxl {
      font-size: 3rem;
    }

    @include media.xxxl {
      font-size: 3.14rem;
    }

    &>img {
      position: relative;
      top: 2px;
      margin-right: 2px;
      display: inline-block;
      width: 1.6rem;
      height: auto;
      object-fit: contain;

      @include media.lg {
        width: 2.1rem;
      }

      @include media.xl {
        top: 3px;
        margin-right: 3px;
        width: 2.4rem;
      }

      @include media.xxl {
        width: 3.1rem;
      }

      @include media.xxxl {
        width: 3.14rem;
      }
    }
  }

  &__pic {
    position: relative;
    display: block;
    flex: 0 0 8rem;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 9px;
    overflow: hidden;

    @include media.xl {
      flex: 0 0 9rem;
      border-radius: 10px;
    }

    @include media.xxl {
      flex: 0 0 11.1rem;
      border-radius: 12px;
    }

    @include media.xxxl {
      flex: 0 0 12rem;
      border-radius: 14px;
    }

    &>img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__like {
    color: #ffcde3;
    flex: 0 0 3rem;
    height: auto;
    aspect-ratio: 1 / 1;

    @include media.xl {
      flex: 0 0 3.3rem;
    }

    @include media.xxl {
      flex: 0 0 4.1rem;
    }

    @include media.xxxl {
      flex: 0 0 4.6rem;
    }
  }
}