@use '../../../inc/mixins/breakpoints' as media;

.hero {
  position: relative;

  max-width: 100%;

  box-sizing: border-box;
  overflow: hidden;

  background: var(--gradient-bw-horizontal);

  padding: 5rem 0 1.8rem;

  @include media.md {
    padding: 6.15rem 0 2.3rem;
  }

  @include media.lg {
    padding: 7.3rem 0 2.8rem;
  }

  @include media.xl {
    padding: 8.2rem 0 3rem;
  }

  @include media.xxl {
    padding: 10.1rem 0 3.8rem;
  }

  @include media.xxxl {
    padding: 10.9rem 0 4.1rem;
  }

  &__line {
    position: absolute;
    max-width: 100%;
    width: 100%;
    top: 1.2rem;
    left: 0;

    @include media.lg {
      top: 2rem;
    }

    @include media.xl {
      top: 2.25rem;
    }

    @include media.xxl {
      top: 2.78rem;
    }

    @include media.xxxl {
      top: 3rem;
    }

    .swiper-wrapper {
      transition-timing-function: linear;
    }

    &-item {
      width: auto;
    }
  }

  &__container {
    @include media.lg {
      --container-max-width: 192rem;
      --container-padding-x: 3.6rem;
    }

    @include media.xl {
      --container-padding-x: 3.7rem;
    }

    @include media.xxl {
      --container-padding-x: 4.8rem;
    }

    @include media.xxxl {
      --container-padding-x: 5rem;
    }
  }

  &__wrapper {
    width: 100%;
    box-sizing: border-box;

    @include media.lg {
      display: flex;
      align-items: center;
      justify-content: space-between;

      padding-left: 0.9rem;
    }

    @include media.xl {
      padding-left: 1.5rem;
    }

    @include media.xxl {
      padding-left: 1.6rem;
    }

    @include media.xxxl {
      padding-left: 1.9rem;
    }
  }

  &__main {
    width: 100%;
    max-width: 35.8rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include media.sm {
      max-width: 49rem;
    }

    @include media.md {
      max-width: 52rem;
    }

    @include media.lg {
      max-width: 62.5rem;
      margin-right: 3.9rem;
    }

    @include media.xl {
      max-width: 70.3rem;
      margin-right: 4.3rem;
    }

    @include media.xxl {
      max-width: 86.9rem;
      margin-right: 8.6rem;
    }

    @include media.xxxl {
      max-width: 90.2rem;
      margin-right: 9.3rem;
    }

    &:not(:last-child) {
      margin-bottom: 2.6rem;

      @include media.lg {
        margin-bottom: 0;
      }
    }
  }

  &__title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: calc(21 / 18);

    color: var(--color-base);
    margin: 0;

    @include media.sm {
      font-size: 2.2rem;
    }

    @include media.md {
      font-size: 2.6rem;
    }

    @include media.lg {
      font-size: 3rem;
    }

    @include media.xl {
      font-size: 3.4rem;
    }

    @include media.xxl {
      font-size: 4.2rem;
    }

    @include media.xxxl {
      font-size: 4.5rem;
    }

    &:not(:last-child) {
      margin-bottom: 1rem;

      @include media.xl {
        margin-bottom: 1.2rem;
      }

      @include media.xxl {
        margin-bottom: 1.4rem;
      }

      @include media.xxxl {
        margin-bottom: 1.5rem;
      }
    }
  }

  &__lab {
    white-space: normal;

    &:not(:last-child) {
      @include media.lg {
        margin-bottom: 2.3rem;
      }

      @include media.xl {
        margin-bottom: 3rem;
      }

      @include media.xxl {
        margin-bottom: 3.5rem;
      }
    }
  }

  &__masonry {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-content: space-between;

    max-width: 100%;
    width: 100%;
    height: auto;

    flex-grow: 0;
    flex-shrink: 0;

    aspect-ratio: 1.326 / 1;

    box-sizing: border-box;

    margin: 0 auto;

    @include media.lg {
      max-width: 44.4rem;
      aspect-ratio: 1.309 / 1;
    }

    @media (width >=1081px) {
      max-width: 53.4rem;
    }

    @include media.xl {
      max-width: 60.4rem;
    }

    @include media.xxl {
      max-width: 74.6rem;
    }

    @include media.xxxl {
      max-width: 80.4rem;
    }

    &:not(:last-child) {
      margin-bottom: 1.4rem;
    }

    &-item {
      --gap-masonry-item: 7px;
      --margin-masonry-item: calc(var(--gap-masonry-item) * 2 / 3);

      @include media.lg {
        --gap-masonry-item: 11px;
      }

      @include media.xl {
        --gap-masonry-item: 15px;
      }

      @include media.xxl {
        --gap-masonry-item: 18px;
      }

      @include media.xxxl {
        --gap-masonry-item: 20px;
      }

      & {
        position: relative;
        box-sizing: border-box;

        width: calc(33.3333% - var(--margin-masonry-item));
        height: calc(33.3333% - var(--margin-masonry-item));

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background: var(--color-base-light);
        border-radius: 1.13rem;
        overflow: hidden;

        padding: 1rem;

        @include media.lg {
          border-radius: 1.685rem;
        }

        @include media.xl {
          border-radius: 2.8rem;
        }

        @include media.xxl {
          border-radius: 2.2rem;
        }

        @include media.xxxl {
          border-radius: 2.4rem;
        }

        &:nth-child(7) {
          height: calc(43.94% - var(--margin-masonry-item));
        }

        &:nth-child(8),
        &:nth-child(9) {
          height: calc(28.03% - 4.666px);
        }
      }

      &--gradient {
        background: var(--gradient-vb-vertical);
      }

      &--pic {
        background: none;
      }
    }

    &-text {
      display: flex;
      flex-direction: column;
      align-items: center;

      max-width: 9rem;

      font-weight: 500;
      font-size: 0.986rem;
      line-height: calc(12 / 10);
      text-align: center;

      color: var(--color-light);

      margin: 0;

      @include media.lg-max {
        @include media.sm {
          max-width: 12.8rem;
          font-size: 1.4rem;
        }

        @include media.md {
          max-width: 19.4rem;
          font-size: 2.1rem;
        }
      }

      @include media.lg {
        max-width: 12.8rem;
        font-size: 1.4rem;
      }

      @include media.xl {
        max-width: 14.6rem;
        font-size: 1.6rem;
      }

      @include media.xxl {
        max-width: 18.2rem;
        font-size: 2rem;
      }

      @include media.xxxl {
        max-width: 19.4rem;
        font-size: 2.1rem;
      }

      &>span {
        font-weight: 700;
        font-size: 1.775rem;

        @include media.lg-max {
          @include media.sm {
            font-size: 2.6rem;
          }

          @include media.md {
            font-size: 4rem;
          }
        }

        @include media.lg {
          font-size: 2.6rem;
        }

        @include media.xl {
          font-size: 3rem;
        }

        @include media.xxl {
          font-size: 3.7rem;
        }

        @include media.xxxl {
          font-size: 4rem;
        }
      }

      &--reverse {
        flex-direction: column-reverse;
      }
    }

    &-pic {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
    }

    &-slide {
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: center;

      &-pic {
        display: block;
        flex: 0 0 1.9rem;
        height: auto;
        border-radius: 50%;
        aspect-ratio: 1 / 1;
        overflow: hidden;
        border: 0.038rem solid var(--color-base);

        @include media.lg-max {
          @include media.sm {
            flex: 0 0 2.9rem;
            border-width: 0.05rem;
          }

          @include media.md {
            flex: 0 0 4.5rem;
            border-width: 0.1rem;
          }
        }

        @include media.lg {
          flex: 0 0 2.9rem;
          border-width: 0.05rem;
        }

        @include media.xl {
          flex: 0 0 3.3rem;
          border-width: 0.1rem;
        }

        @include media.xxl {
          flex: 0 0 4.2rem;
        }

        @include media.xxxl {
          flex: 0 0 4.5rem;
        }

        &:not(:first-child) {
          margin-left: -0.5rem;

          @include media.lg-max {
            @include media.sm {
              margin-left: -0.7rem;
            }

            @include media.md {
              margin-left: -1rem;
            }
          }

          @include media.lg {
            margin-left: -0.7rem;
          }

          @include media.xl {
            margin-left: -0.9rem;
          }

          @include media.xxl {
            margin-left: -1rem;
          }
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center center;
        }
      }
    }
  }

  &__control {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media.lg {
      align-items: flex-start;
    }
  }

  &__price {
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 500;
    font-size: 1.6rem;
    line-height: calc(19 / 16);

    color: var(--color-dark-light);

    text-align: center;
    margin: 0;

    @include media.lg {
      font-size: 1.9rem;
    }

    @include media.xl {
      font-size: 2.2rem;
    }

    @include media.xxl {
      font-size: 2.7rem;
    }

    @include media.xxxl {
      font-size: 3rem;
    }

    &:not(:last-child) {
      margin-bottom: 2.6rem;
    }

    &-current,
    &-old {
      font-weight: 600;
      font-size: 2.5rem;
      line-height: calc(31 / 25);

      color: var(--color-base);

      margin: 0 0.7rem;

      @include media.lg {
        margin: 0 1rem;
        font-size: 3.3rem;
      }

      @include media.xl {
        margin: 0 1.1rem;
        font-size: 3.6rem;
      }

      @include media.xxl {
        margin: 0 1.3rem;
        font-size: 4.4rem;
      }

      @include media.xxxl {
        margin: 0 1.4rem;
        font-size: 4.5rem;
      }

      &>span {
        font-size: 1.6rem;

        @include media.lg {
          font-size: 2.3rem;
        }

        @include media.xl {
          font-size: 2.5rem;
        }

        @include media.xxl {
          font-size: 3rem;
        }

        @include media.xxxl {
          font-size: 3.2rem;
        }
      }
    }

    &-old {
      position: relative;
      color: var(--color-base-op-48);

      margin: 0;

      &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 0.155rem;
        background-color: var(--color-base);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-4.56deg);

        @include media.lg {
          height: 0.2rem;
        }

        @include media.xl {
          height: 0.225rem;
        }

        @include media.xxl {
          height: 0.278rem;
        }

        @include media.xxxl {
          height: 0.3rem;
        }
      }
    }
  }
}
