footer.footer#Footer
  .container
    .footer__wrapper
      nav.f-menu.footer__menu
        ul.f-menu__list
          li.f-menu__item
            a.f-menu__link(href="#!") Политика конфиденциальности
          li.f-menu__item
            a.f-menu__link(href="#!") Обработка персональных данных
          li.f-menu__item
            a.f-menu__link(href="#!") Политика в отношении файлов cookie
          li.f-menu__item
            a.f-menu__link(href="#!") Политика безопасности
          li.f-menu__item
            a.f-menu__link(href="#!") Сведения о деятельности
      span.footer__copyright &copy; 2025 Трумен Ева
