section.hero#hero
  .swiper.hero__line#heroLine
    .swiper-wrapper
      .swiper-slide.hero__line-item
        span.lab.hero__line-lab
          svg.lab__svg
            rect(width="100%" height="100%" rx="4" ry="4" fill="url(#fillGradient)" fill-opacity="0.59" stroke="url(#strokeGradient)" stroke-width="1" stroke-linecap="round")
          span Ограниченное предложение
      .swiper-slide.hero__line-item
        span.lab.hero__line-lab
          svg.lab__svg
            rect(width="100%" height="100%" rx="4" ry="4" fill="url(#fillGradient)" fill-opacity="0.59" stroke="url(#strokeGradient)" stroke-width="1" stroke-linecap="round")
          span Доступ за минуту
      .swiper-slide.hero__line-item
        span.lab.hero__line-lab
          svg.lab__svg
            rect(width="100%" height="100%" rx="4" ry="4" fill="url(#fillGradient)" fill-opacity="0.59" stroke="url(#strokeGradient)" stroke-width="1" stroke-linecap="round")
          span 1400+ пользователей доверяют нам
      .swiper-slide.hero__line-item
        span.lab.hero__line-lab
          svg.lab__svg
            rect(width="100%" height="100%" rx="4" ry="4" fill="url(#fillGradient)" fill-opacity="0.59" stroke="url(#strokeGradient)" stroke-width="1" stroke-linecap="round")
          span 200+ инструментов для самопомощи
      .swiper-slide.hero__line-item
        span.lab.hero__line-lab
          svg.lab__svg
            rect(width="100%" height="100%" rx="4" ry="4" fill="url(#fillGradient)" fill-opacity="0.59" stroke="url(#strokeGradient)" stroke-width="1" stroke-linecap="round")
          span 400+ проверенных специалистов
      .swiper-slide.hero__line-item
        span.lab.hero__line-lab
          svg.lab__svg
            rect(width="100%" height="100%" rx="4" ry="4" fill="url(#fillGradient)" fill-opacity="0.59" stroke="url(#strokeGradient)" stroke-width="1" stroke-linecap="round")
          span Выгодно с подпиской за 499/месяц
      .swiper-slide.hero__line-item
        span.lab.hero__line-lab
          svg.lab__svg
            rect(width="100%" height="100%" rx="4" ry="4" fill="url(#fillGradient)" fill-opacity="0.59" stroke="url(#strokeGradient)" stroke-width="1" stroke-linecap="round")
          span Групповые встречи с психологами
  .container.hero__container
    .hero__wrapper
      .hero__main
        h1.hero__title Трумен Ева - Ваш личный помощник для баланса разума, эмоций и энергии – 24/7
        span.lab.hero__lab
          svg.lab__svg
            rect(width="100%" height="100%" rx="4" ry="4" fill="url(#fillGradient)" fill-opacity="0.59" stroke="url(#strokeGradient)" stroke-width="1" stroke-linecap="round")
          span платформа для вашего ментального здоровья
      .hero__masonry
        .hero__masonry-item
          p.hero__masonry-text
            span 200+
            | инструментов для самопомощи
        .hero__masonry-item.hero__masonry-item--pic
          picture.hero__masonry-pic
            img(src="/assets/images/hero-01.jpg", alt="")
        .hero__masonry-item
          p.hero__masonry-text.hero__masonry-text--reverse
            span за минуту
            | Доступ
        .hero__masonry-item.hero__masonry-item--gradient
          p.hero__masonry-text
            span 400+
            | проверенных специалистов
        .hero__masonry-item
          .hero__masonry-slide
            picture.hero__masonry-slide-pic
              img(src="/assets/images/hero-04.jpg", alt="")
            picture.hero__masonry-slide-pic
              img(src="/assets/images/hero-05.jpg", alt="")
            picture.hero__masonry-slide-pic
              img(src="/assets/images/hero-06.jpg", alt="")
            picture.hero__masonry-slide-pic
              img(src="/assets/images/hero-07.jpg", alt="")
          p.hero__masonry-text
            span Групповые
            | встречи с психологами
        .hero__masonry-item.hero__masonry-item--pic
          picture.hero__masonry-pic
            img(src="/assets/images/hero-02.jpg", alt="")
        .hero__masonry-item.hero__masonry-item--pic
          picture.hero__masonry-pic
            img(src="/assets/images/hero-03.jpg", alt="")
        .hero__masonry-item
          p.hero__masonry-text
            span 1400+
            | пользователей доверяют нам
        .hero__masonry-item.hero__masonry-item--gradient
          p.hero__masonry-text
            span Выгодно
            | с подпиской за 499/месяц 
      .hero__control
        p.hero__price Подписка за 
          span.hero__price-current 499 ₽/мес 
          span.hero__price-old 1099 ₽/мес
        a.btn.btn-lg.btn-gradient-red(href="#!" data-bs-target="modal-dga") Начать бесплатно
