@use '../../../inc/mixins/breakpoints' as media;
@use '../../../inc/mixins/hover' as hover;

.details {
  position: relative;
  z-index: 2;
  padding: 5rem 0;
  background-image: linear-gradient(270deg, #C9DBFF 0%, #F7F9FF 59.61%);
  overflow: hidden;

  &::after {
    position: absolute;
    content: '';
    z-index: 1;
    display: block;
    border-radius: 50%;
    top: 20.1rem;
    left: -24.5rem;
    width: 59rem;
    height: 59rem;
    background-image: linear-gradient(176.76deg, #0057FC 2.68%, #B0D5FF 38.61%, #B0EEFF 75.04%);
    filter: blur(104px);
    transform: rotate(-120deg);

    @include media.md {
      top: -3.7rem;
      left: 55%;
    }

    @include media.xl {
      top: -3.3rem;
      left: 60%;
    }

    @include media.xxl {
      top: -1.2rem;
      left: 66.67%;
    }
  }

  &__decor {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0.8;
    filter: blur(72px);

    &::before,
    &::after {
      position: absolute;
      content: '';
      z-index: 1;
      display: block;
      border-radius: 50%;
    }

    &::before {
      top: 35.3rem;
      right: -22.2rem;
      width: 25.7rem;
      height: 25.7rem;
      background-image: linear-gradient(180deg, #B0D5FF 20%, #0050AD 100%);

      @include media.md {
        top: auto;
        bottom: -13rem;
        right: 92.5%;
      }

      @include media.xl {
        bottom: -12.6rem;
        right: 82.22%;
      }

      @include media.xxl {
        bottom: -10.6rem;
        right: 68.52%;
      }
    }

    &::after {
      bottom: 9.3rem;
      left: -18.5rem;
      width: 50.6rem;
      height: 50.6rem;
      background-image: linear-gradient(180deg, #B0D5FF 20%, #54CFFF 100%);

      @include media.md {
        bottom: -26.5rem;
        left: 59.69%;
      }

      @include media.xl {
        bottom: -26.1rem;
        left: 64.17%;
      }

      @include media.xxl {
        bottom: -24.1rem;
        left: 70.14%;
      }
    }
  }

  &__container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    --container-max-width: 99rem;

    @include media.xl {
      --container-max-width: 107rem;
    }
  }

  &__heading {
    color: #0049d3;
    --mb-heading: 0;
  }

  &__grid {
    --gap-item: 2rem;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-between;
    gap: var(--gap-item);

    @include media.lg {
      --gap-item: 3rem;
    }
  }

  &__item {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.86);
    box-shadow: 0px 2px 22.1px rgba(41, 99, 163, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 2rem;
    gap: 1rem;

    @include media.md {
      max-width: calc(33.3333% - var(--gap-item) * 2 / 3);

      &:nth-child(4),
      &:nth-child(5) {
        max-width: calc(50% - var(--gap-item) / 2);
      }
    }
  }

  &__icon {
    max-width: 100%;
    width: 100%;
    height: 6.3rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media.xxl {
      height: 7.3rem;
    }

    &>img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
      object-position: center center;
    }
  }

  &__name {
    text-align: center;
    font-weight: 500;
    font-size: 2.2rem;
    line-height: calc(26 / 22);
    color: var(--color-dark);
    margin: 0;

    @include media.lg {
      font-size: 2.5rem;
    }

    @include media.xl {
      font-size: 2.7rem;
    }

    @include media.xxl {
      font-size: 2.9rem;
    }

    &>span {
      display: block;
      font-size: 1.8rem;

      @include media.lg {
        font-size: 2rem;
      }

      @include media.xl {
        font-size: 2.2rem;
      }
    }
  }

  &__text {
    text-align: center;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: calc(29 / 24);
    color: var(--color-dark);
    margin: 0;

    @include media.xl {
      font-size: 2.6rem;
    }

    @include media.xxl {
      font-size: 2.8rem;
    }
  }

  &__row {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.4rem;
    margin-top: -0.5rem;

    @include media.sm {
      flex-direction: row;
      justify-content: center;
      gap: 1.2rem;
    }

    @include media.lg {
      gap: 1rem;
      margin-top: 0;
    }
  }

  &__badge {
    max-width: 40rem;
    width: 100%;
    min-height: 7rem;

    border-width: 2px;
    border-radius: 16px;

    @include media.sm {
      max-width: none;
      width: auto;
      padding: 0.7rem 1.5rem;
    }

    &>img.badge__img {
      max-height: 5.2rem;

      @include media.sm {
        max-height: 5.2rem;
      }
    }
  }
}