.app#app
  .container
    .app__inner
      a.btn.btn-lg.btn-gradient-blue.btn-icon(href="#!")
        img.btn__icon(src="/assets/picture/landing3-new/circle-icon.png", alt="")
        span.btn__text Попробовать расклад
      span.app__text или установите приложение
      .app__row
        a.badge.badge--mini.app__badge(href="#!" target="_blank")
          img.badge__img(src="/assets/picture/google_play_download.svg", alt="")
        a.badge.badge--mini.app__badge(href="#!" target="_blank")
          img.badge__img(src="/assets/picture/app_store_download.svg", alt="")