section.etap#etap
  .container.etap__container
    h2.heading.etap__heading Как работает?
    .swiper.etap-slider
      ol.swiper-wrapper
        li.swiper-slide.etap__item
          picture.etap__item-image
            img(src="/assets/picture/landing3-new/etap-01.png", alt="")
          span.etap__item-name Формируешь или выбираешь вопрос
        li.swiper-slide.etap__item
          picture.etap__item-image
            img(src="/assets/picture/landing3-new/etap-02.png", alt="")
          span.etap__item-name Вытягиваешь карты
        li.swiper-slide.etap__item
          picture.etap__item-image
            img(src="/assets/picture/landing3-new/etap-03.png", alt="")
          span.etap__item-name Узнаешь трактовку 
            br
            | (или трактовку от ИИ)
      p.etap__text Ничего мистического, только разговор с собой