section.free#free
  span.free__decor
  .free__top
    a.free__logo(href="/")
      img(src="/assets/picture/logo.svg", alt="")
  .free__wrapper
    .free__main
      h1.free__title Таро, которое говорит 
        br
        | с тобой по-настоящему
      p.free__text Попробуй расклад с ИИ и пойми, 
        br
        | что происходит на самом деле
      a.btn.btn-lg.btn-gradient-blue.btn-icon.free__btn(href="#!")
        img.btn__icon(src="/assets/picture/landing3-new/circle-icon.png", alt="")
        span.btn__text Сделать расклад бесплатно
    .free__cards
      picture.free__card
        img(src="/assets/picture/landing3-new/free-card-01.png", alt="")
      picture.free__card
        img(src="/assets/picture/landing3-new/free-card-02.png", alt="")