section.prom#prom
  .container.prom__container
    .prom__top
      h2.prom__heading Открой первую карту – и посмотри, что она скажет тебе
      p.prom__sub-heading ИИ-таролог покажет взаимосвязь карт и расшифрует твой расклад
    .prom__main
      .prom__cards
        picture.prom__card
          img(src="/assets/picture/landing3-new/prom-card.png", alt="")
        picture.prom__card
          img(src="/assets/picture/landing3-new/prom-card.png", alt="")
        picture.prom__card
          img(src="/assets/picture/landing3-new/prom-card.png", alt="")
        picture.prom__shadow
          img(src="/assets/images/prom-shadow.svg", alt="")
      .prom__right
        a.btn.btn-lg.btn-gradient-blue.btn-icon.prom__btn(href="#!")
          img.btn__icon(src="/assets/picture/landing3-new/circle-icon.png", alt="")
          span.btn__text Вытянуть карту
        span.prom__text или установите приложение
        .prom__row
          a.badge.badge--mini.prom__badge(href="#!" target="_blank")
            img.badge__img(src="/assets/picture/google_play_download.svg", alt="")
          a.badge.badge--mini.prom__badge(href="#!" target="_blank")
            img.badge__img(src="/assets/picture/app_store_download.svg", alt="")
    .prom__bottom
      h3.prom__title Твоя история начинается сейчас
      a.prom__logo(href="/")
        img(src="/assets/picture/logo.svg", alt="")