@use '../../../inc/mixins/breakpoints' as media;
@use '../../../inc/mixins/hover' as hover;

.escape {
  --container-max-width: 192rem;
  --container-padding-x: 1.3rem;
  position: relative;
  background: linear-gradient(357.29deg, #A8E4A6 -6.13%, #22A1BE 7.77%, #A3E2A7 16.8%, #F7F9FF 42.78%), #F7F9FF;
  border-radius: 0 0 18px 18px;
  overflow: hidden;
  padding: 5.9rem 0 1.1rem;

  @include media.md {
    --container-padding-x: 3rem;
    border-radius: 0;
    padding: 8rem 0 5rem;
    background: linear-gradient(270deg, #A8E4A6 -7.05%, #22A1BE 8.12%, #A3E2A7 17.97%, #F7F9FF 46.32%);
  }

  @include media.lg {
    --container-padding-x: 4.5rem;
    padding: 10.5rem 0 6rem;
  }

  @include media.xl {
    --container-padding-x: 8rem;
    padding: 11.5rem 0 7rem;
  }

  @include media.xxl {
    padding: 17.7rem 0 13.2rem;
  }

  &::before {
    position: absolute;
    content: '';
    bottom: -5rem;
    left: -8.9rem;
    width: 25.7rem;
    height: 25.7rem;
    background: linear-gradient(180deg, #1298C1 20%, #9DEAFF 100%);
    border-radius: 50%;
    transform: rotate(90deg);
    opacity: 0.8;
    filter: blur(37px);

    @include media.sm {
      left: 6rem;
    }

    @include media.md {
      bottom: auto;
      top: -14.2rem;
      left: auto;
      right: -10rem;
      width: 58.9rem;
      height: 58.9rem;
      transform: rotate(-120deg);
      background: linear-gradient(176.76deg, #9BDEA8 2.68%, #20A0BF 38.61%, #9CE4FE 75.04%);
      filter: blur(104px);
    }
  }

  &::after {
    position: absolute;
    content: '';
    bottom: -6.1rem;
    right: -2.9rem;
    width: 29.9rem;
    height: 29.9rem;
    background: linear-gradient(176.76deg, #9BDEA8 2.68%, #20A0BF 38.61%, #9CE4FE 75.04%);
    filter: blur(53px);
    transform: rotate(-30deg);

    @include media.sm {
      right: 7rem;
    }

    @include media.md {
      bottom: -28.5rem;
      right: -7.8rem;
      width: 50.6rem;
      height: 50.6rem;
      transform: rotate(0deg);
      background: linear-gradient(180deg, #1298C1 20%, #9DEAFF 100%);
    }
  }

  &__decor {
    position: absolute;
    z-index: 2;
    bottom: 6rem;
    left: 51%;
    transform: translateX(-50%) rotate(143deg);
    pointer-events: none;
    width: 43.1rem;
    height: auto;
    opacity: 0.2;

    @include media.sm {
      bottom: -5rem;
      width: 76rem;
    }

    @include media.md {
      bottom: auto;
      top: -33.5rem;
      left: 61.67%;
      width: 72rem;
      transform: rotate(143deg);
    }

    @include media.xxl {
      left: 54.5%;
    }

    &>img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__header {
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem var(--container-padding-x);

    &-logo {
      display: block;
      max-width: 14.2rem;
      width: 100%;
      height: auto;
      object-fit: contain;
      opacity: 1;
      transition: .3s ease-in-out;

      @include media.lg {
        max-width: 17.8rem;
      }

      @include hover.on-hover {
        opacity: 0.8;
      }

      &>img {
        max-width: 100%;
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }
  }

  &__container {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media.md {
      align-items: flex-start;
    }

    &::after {
      display: none;
      position: absolute;
      z-index: 1;
      content: '';
      bottom: -15rem;
      left: 8.4rem;
      width: 25.7rem;
      height: 25.7rem;
      opacity: 0.8;
      background: linear-gradient(180deg, #9DEAFF 0%, #1298C1 80%);
      filter: blur(72px);
      border-radius: 50%;

      @include media.md {
        display: block;
      }

      @include media.xxl {
        bottom: -14.6rem;
        left: 29rem;
      }
    }
  }

  &__top {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;

    @include media.sm {
      gap: 1.5rem;
    }

    @include media.md {
      align-items: flex-start;
      margin-bottom: 4rem;
    }

    @include media.lg {
      gap: 2rem;
    }
  }

  &__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: calc(26 / 22);
    color: #0079c9;
    margin: 0;

    @include media.sm {
      font-size: 3.6rem;
      gap: 0.2rem;
    }

    @include media.md {
      align-items: flex-start;
      text-align: left;
    }

    @include media.lg {
      font-size: 5rem;
    }

    @include media.xl {
      font-size: 5.2rem;
    }

    @include media.xxl {
      font-size: 5.4rem;
    }

    &>span {
      font-size: 2.6rem;
      line-height: calc(31 / 26);

      @include media.sm {
        font-size: 4.6rem;
      }

      @include media.lg {
        font-size: 6.4rem;
      }

      @include media.xl {
        font-size: 6.6rem;
      }

      @include media.xxl {
        font-size: 6.8rem;
      }
    }
  }

  &__sub-heading {
    max-width: 34.2rem;
    text-align: center;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: calc(17 / 14);
    color: #077597;
    margin: 0;

    @include media.sm {
      max-width: 44rem;
      font-size: 1.8rem;
    }

    @include media.md {
      text-align: left;
    }

    @include media.lg {
      max-width: 56rem;
      font-size: 2.5rem;
    }

    @include media.xl {
      max-width: 58rem;
      font-size: 2.7rem;
    }

    @include media.xxl {
      max-width: 68rem;
      font-size: 2.9rem;
    }
  }

  &__image {
    position: relative;
    z-index: 2;
    max-width: 29.3rem;
    width: 100%;
    height: auto;
    display: flex;
    margin-bottom: -5.8rem;

    @include media.sm {
      max-width: 38rem;
    }

    @include media.md {
      max-width: 32rem;
      position: absolute;
      top: 46%;
      transform: translateY(-50%);
      right: 0;
    }

    @include media.lg {
      max-width: 44rem;
    }

    @include media.xl {
      max-width: 55rem;
      right: -4rem;
    }

    @include media.xxl {
      max-width: 63rem;
      right: -1rem;
    }

    &>img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  &__bottom {
    position: relative;
    z-index: 3;
    max-width: 36.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    @include media.lg {
      max-width: none;
    }
  }

  &__text {
    display: inline-block;
    text-align: center;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: calc(19 / 16);
    color: #174553;
    padding: 0.2rem 1.2rem;
    background: rgba(255, 255, 255, 0.83);
    backdrop-filter: blur(2px);
    border-radius: 6px;
    margin: 0;

    @include media.sm {
      font-size: 1.8rem;
    }

    @include media.md {
      background: none;
      padding: 0;
    }

    @include media.lg {
      font-size: 2.2rem;
    }

    @include media.xl {
      font-size: 2.4rem;
    }

    @include media.xxl {
      font-size: 2.6rem;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    @include media.md {
      justify-content: center;
    }
  }

  &__badge {
    max-width: calc(50% - 0.5rem);
    width: 100%;
    min-height: auto;
    height: auto;
    padding: 0.5rem 2.8rem;

    @include media.lg {
      max-width: none;
      width: auto;
      padding: 0.8rem 2rem;
    }

    &>.badge__img {
      max-height: none;

      @include media.lg {
        max-height: 5.2rem;
      }
    }
  }
}