section.bonus#bonus
  .container
    h2.heading.bonus__heading Бонусы для тебя:
    .bonus__row
      article.bonus__item
        .bonus__item-bg
          .bonus__item-bg-decor
          svg
            rect(width="100%" height="100%" stroke="url(#strokeGradientBonus)" stroke-width="1" stroke-linecap="round")
        .bonus__item-inner
          h3.bonus__name пробный доступ 
            br
            | ко всем функциям на 
            span.bonus__name-accent.bonus__name-accent--lg 7 дней
          picture.bonus__pic
            source(media="(min-width: 577px)", srcset="/assets/images/promo-01--pc.png", type="image/png")
            img(src="/assets/images/promo-01.png", alt="")
      article.bonus__item
        .bonus__item-bg
          .bonus__item-bg-decor
          svg
            rect(width="100%" height="100%" stroke="url(#strokeGradientBonus)" stroke-width="1" stroke-linecap="round")
        .bonus__item-inner
          h3.bonus__name Первая консультация 
            span.bonus__name-accent бесплатно
          picture.bonus__pic
            source(media="(min-width: 577px)", srcset="/assets/images/promo-02--pc.png", type="image/png")
            img(src="/assets/images/promo-02.png", alt="")
      article.bonus__item
        .bonus__item-bg
          .bonus__item-bg-decor
          svg
            rect(width="100%" height="100%" stroke="url(#strokeGradientBonus)" stroke-width="1" stroke-linecap="round")
        .bonus__item-inner
          h3.bonus__name Виртуальный психолог 
            span.bonus__name-accent 24/7 на связи
          picture.bonus__pic
            source(media="(min-width: 577px)", srcset="/assets/images/bonus-01--pc.png", type="image/png")
            img(src="/assets/images/bonus-01.png", alt="")
