section.help#help
  .help__bg
  .container.help__container
    h2.heading.help__heading Тревожность, стресс, усталость? 
      br
      | Мы поможем решить твою проблему.
    .help__wrapper
      .help__col
        .help__item
          picture.help__pic
            img(src="/assets/picture/help-01.jpg", alt="")
          p.help__name Не знаете, как справиться с тревогой?
        .help__item
          picture.help__pic
            img(src="/assets/picture/help-02.jpg", alt="")
          p.help__name Помощь виртуального психолога
      .help__col
        .help__item
          picture.help__pic
            img(src="/assets/picture/help-03.jpg", alt="")
          p.help__name Ощущаете одиночество?
        .help__item
          picture.help__pic
            img(src="/assets/picture/help-04.jpg", alt="")
          p.help__name Анонимные чаты поддержки и трайбы
      .help__col
        .help__item
          picture.help__pic
            img(src="/assets/picture/help-05.jpg", alt="")
          p.help__name Хотите работать над собой?
        .help__item
          picture.help__pic
            img(src="/assets/picture/help-06.jpg", alt="")
          p.help__name 200 инструментов: дневники, трекеры привычек, медитации
    p.help__text Приложение основано на 
      span научных методах, 
      br
      | только сертифицированные 
      span специалисты с опытом
