section.instruments#instruments
  .container
    h2.heading.instruments__heading Все инструменты для ментального здоровья – в одном месте
    .review-slider-wrapper.instruments__slider
      .swiper.review-slider
        .swiper-wrapper
          .swiper-slide.instruments__slide
            .instruments__item
              picture.instruments__pic
                img(src="/assets/picture/instruments-01.png", alt="")
              p.instruments__text Подбор специалистов
          .swiper-slide.instruments__slide.instruments__slide--circle.instruments__slide--decor-right
            .instruments__item
              picture.instruments__pic
                img(src="/assets/picture/instruments-02.png", alt="")
              p.instruments__text Виртуальный 
                br
                | психолог-ассистент 24/7
          .swiper-slide.instruments__slide
            .instruments__item
              picture.instruments__pic
                img(src="/assets/picture/instruments-03.png", alt="")
              p.instruments__text Дневник эмоций 
                br
                | и настроения
          .swiper-slide.instruments__slide
            .instruments__item
              picture.instruments__pic
                img(src="/assets/picture/instruments-04.png", alt="")
              p.instruments__text Групповые мероприятия и терапия
          .swiper-slide.instruments__slide.instruments__slide--decor-left.instruments__slide--decor-right
            .instruments__item
              picture.instruments__pic
                img(src="/assets/picture/instruments-05.png", alt="")
              p.instruments__text Анонимные чаты поддержки
          .swiper-slide.instruments__slide
            .instruments__item
              picture.instruments__pic
                img(src="/assets/picture/instruments-06.png", alt="")
              p.instruments__text Трекер привычек
      .swiper-button-prev.review-slider-prev
      .swiper-button-next.review-slider-next
    .instruments__bottom
      p.instruments__bottom-text Попробуйте бесплатно – 
        span.instruments__bottom-text-accent скачайте приложение
      .instruments__bottom-row
        a.badge.badge--cntrl.instruments__bottom-badge(href="#!" target="_blank")
          img.badge__img(src="/assets/picture/app_store_download.svg", alt="")
        a.badge.badge--cntrl.instruments__bottom-badge(href="#!" target="_blank")
          img.badge__img(src="/assets/picture/google_play_download.svg", alt="")
