section.now#now
  .container
    .now__block
      h2.now__block-text Начните свой путь к балансу
        span.now__block-text-accent прямо сейчас
      .now__block-row
        a.badge.now__block-badge(href="#!" target="_blank")
          img.badge__img(src="/assets/picture/google_play_download.svg", alt="")
        a.badge.now__block-badge(href="#!" target="_blank")
          img.badge__img(src="/assets/picture/app_store_download.svg", alt="")
