@use '../../../inc/mixins/breakpoints' as media;
@use '../../../inc/mixins/hover' as hover;

.find {
  position: relative;
  padding: 5rem 0;
  overflow: hidden;

  &__container {
    --container-max-width: 99rem;
  }

  &__heading {
    --mb-heading: 2rem;

    @include media.lg {
      margin-bottom: 2.5rem;
    }
  }

  &__sub-text {
    text-align: center;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: calc(19 / 16);
    color: var(--color-dark);
    margin: 0;

    @include media.md {
      font-size: 2rem;
    }

    @include media.lg {
      font-size: 2.2rem;
    }

    @include media.xl {
      font-size: 2.4rem;
    }

    @include media.xxxl {
      font-size: 2.6rem;
    }

    &:not(:last-child) {
      margin-bottom: 2rem;

      @include media.lg {
        margin-bottom: 2.5rem;
      }
    }

    &>span {
      color: var(--color-base);
    }
  }

  &__grid {
    --gap-item: 1.4rem;
    display: flex;
    flex-flow: row wrap;
    gap: var(--gap-item);

    @include media.lg {
      --gap-item: 3rem;
    }

    &:not(:last-child) {
      margin-bottom: 2rem;

      @include media.lg {
        margin-bottom: 2.5rem;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
    max-width: 100%;
    width: 100%;
    height: auto;
    background-color: var(--color-light);
    box-shadow: 0px 1px 10px rgba(41, 99, 163, 0.1);
    border-radius: 12px;
    padding: 1.5rem;

    @include media.md {
      width: calc(33.3333% - var(--gap-item) * 2 / 3);

      &:nth-child(1),
      &:nth-child(2) {
        width: calc(50% - var(--gap-item) / 2);
      }
    }

    @include media.lg {
      gap: 1rem;
      padding: 2rem;
      border-radius: 24p;
    }
  }

  &__image {
    position: relative;
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
    border-radius: 10px;
    overflow: hidden;

    @include media.md {
      height: 22rem;
    }

    @include media.lg {
      border-radius: 15px;
    }

    &::before {
      content: '';
      display: table;
      padding-bottom: 74.39%;

      @include media.md {
        display: none;
      }
    }

    &>img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  &__text {
    max-width: 21.5rem;
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: calc(14 / 12);
    color: var(--color-dark);
    margin: 0;

    @include media.md {
      font-size: 1.4rem;
    }

    @include media.lg {
      max-width: none;
      font-size: 1.6rem;
    }

    @include media.xxl {
      font-size: 1.8rem;
    }
  }

  &__row {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.4rem;

    @include media.sm {
      flex-direction: row;
      justify-content: center;
      gap: 1.2rem;
    }

    @include media.xl {
      gap: 1rem;
    }
  }

  &__badge {
    max-width: 40rem;
    width: 100%;
    min-height: 7rem;

    border-width: 2px;
    border-radius: 16px;

    @include media.sm {
      max-width: none;
      width: auto;
      padding: 0.7rem 1.5rem;
    }

    &>img.badge__img {
      max-width: 19.8rem;
      max-height: 5.2rem;

      @include media.sm {
        max-width: 19.8rem;
        max-height: 5.2rem;
      }
    }
  }
}