@use '../../../inc/mixins/breakpoints' as media;
@use '../../../inc/mixins/patterns' as pat;
@use '../../../elems/heading' as *;

.services {
  position: relative;
  z-index: 2;

  &--mini {
    padding: 5rem 0;

    &>.container {
      --container-max-width: 99rem;
    }

    
    .services {
      &__heading {
        @extend .heading--max;
        color: #0049D3;
        --mb-heading: 2.5rem;
      }

      &__row {
        --mb-item: 1.4rem;
        
        @include media.lg {
          --mb-item: 3rem;
          --width-item: calc(50% - var(--mb-item) / 2);
        }

        &:not(:last-child) {
          margin-bottom: 2.5rem;
        }
      }

      &__item {
        gap: 0.6rem;
        padding: 1.4rem;
        border-radius: 12px;

        @include media.lg {
          gap: 1rem;
          padding: 2rem;
          border-radius: 24px;
        }
      }

      &__pic {
        border-radius: 10px;

        @include media.lg {
          border-radius: 15px;
        }

        &::before {
          padding-bottom: 74.39%;

          @include media.lg {
            padding-bottom: 50%;
          }
        }
      }

      &__name {
        @include media.md {
          font-size: 1.4rem;
        }

        @include media.xl {
          font-size: 1.6rem;
        }

        @include media.xxl {
          font-size: 1.8rem;
        }
      }

      &__cntrl {
        gap: 2.5rem;
      }

      &__text {
        font-size: 1.6rem;
        line-height: calc(19 / 16);

        @include media.lg {
          font-size: 2.4rem;
        }

        @include media.xl {
          font-size: 2.6rem;
        }

        @include media.xxl {
          font-size: 2.8rem;
        }

        &-accent {
          @include media.lg {
            display: block;
          }
        }
      }
    }
  }

  &__bg {
    position: absolute;
    z-index: 1;
    display: none;
    left: 0;
    bottom: 20rem;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    overflow: hidden;
    pointer-events: none;

    @include media.lg {
      display: block;
    }

    @include media.xl {
      bottom: 30rem;
    }

    @include media.xxl {
      bottom: 37rem;
    }

    @include media.xxxl {
      bottom: 42rem;
    }

    &::before,
    &::after {
      position: absolute;
      content: '';
      z-index: 1;
      display: block;
      background-image: url('../images/promo-decor.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100% 100%;
      opacity: 0.7;
    }

    &::after {
      bottom: -4rem;
      left: 46.7%;
      width: 103.9rem;
      height: 72.4rem;
      transform: rotate(110deg);

      @include media.xl {
        width: 73.9rem;
        height: 81.4rem;
        bottom: -8.2rem;
        left: 60.3%;
        transform: rotate(112deg);
      }

      @include media.xxl {
        width: 91.5rem;
        height: 100.7rem;
        bottom: -11.2rem;
        left: 60.2%;
      }

      @include media.xxxl {
        width: 98.7rem;
        height: 108.5rem;
        bottom: -11.5rem;
        left: 60.1%;
      }
    }

    &::before {
      bottom: -8.9rem;
      right: 62.3%;
      width: 57.7rem;
      height: 63.6rem;
      transform: rotate(-45deg);

      @include media.xl {
        bottom: -9.9rem;
        right: 62.8%;
        width: 65rem;
        height: 71.6rem;
      }

      @include media.xxl {
        bottom: -13.3rem;
        right: 63%;
        width: 80.3rem;
        height: 88.5rem;
      }

      @include media.xxxl {
        bottom: -14.3rem;
        right: 63.1%;
        width: 86.6rem;
        height: 95.4rem;
      }
    }
  }

  &>.container {
    position: relative;
    z-index: 2;
  }

  &__heading {
    max-width: 36rem;

    @include media.sm {
      max-width: none;
    }
  }

  &__block {
    position: relative;

    width: 100%;

    box-sizing: border-box;
    overflow: hidden;

    background: var(--color-gray-op-59);
    border: 1px solid var(--color-base-border);
    border-radius: 1.2rem;

    padding: 1.2rem 3.5rem 0.6rem 9.9rem;

    @include pat.not-last-margin;

    @include media.lg {
      border-radius: 1rem;
      padding: 0.9rem 15.55rem 3.05rem 14rem;
    }

    @include media.xl {
      border-radius: 1.6rem;
      padding: 0.887rem 17.67rem 3.35rem 15.7rem;
    }

    @include media.xxl {
      border-width: 2px;
      border-radius: 2rem;
      padding: 1rem 21.7rem 4.05rem 19.2rem;
    }

    @include media.xxxl {
      border-radius: 2.2rem;
      padding: 1.1rem 23.1rem 4.4rem 20.8rem;
    }

    &::before {
      position: absolute;
      content: '';
      top: -22.7rem;
      left: -15.8rem;
      width: 39rem;
      aspect-ratio: 1 / 1;
      opacity: 0.4;
      background-image: url('../images/promo-decor.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      transform: rotate(105deg);

      @include media.lg {
        top: -34.4rem;
        left: -20.8rem;
        width: 51.9rem;
      }

      @include media.xl {
        top: -38.4rem;
        left: -28.8rem;
        width: 58.2rem;
      }

      @include media.xxl {
        top: -48.4rem;
        left: -28.8rem;
        width: 72rem;
      }

      @include media.xxxl {
        top: -52.4rem;
        left: -30.8rem;
        width: 77.7rem;
      }
    }

    &-pic {
      position: absolute;
      z-index: 2;

      bottom: -2.1rem;
      left: -0.2rem;

      display: block;

      aspect-ratio: 1 / 1;
      width: 12.1rem;
      height: auto;

      animation: transform-top 2s infinite ease-in-out alternate;

      @include media.lg {
        bottom: -2.3rem;
        left: -0.1rem;
        width: 16.8rem;
      }

      @include media.xl {
        bottom: -2.5rem;
        left: 0;
        width: 18.4rem;
      }

      @include media.xxl {
        bottom: -3.1rem;
        left: -0.22rem;
        width: 23rem;
      }

      @include media.xxxl {
        bottom: -3.3rem;
        left: -0.1rem;
        width: 24.9rem;
      }

      &>img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center center;
      }
    }

    &-inner {
      position: relative;
      z-index: 3;

      background: var(--gradient-bwl-horizontal);
      border-radius: 1.1rem;
      border-bottom-left-radius: 0 !important;
      border-top-left-radius: 1.6rem;

      padding: 1.5rem 4rem 1.6rem 1.1rem;

      @include media.sm {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      @include media.md {
        padding: 1.8rem 4.15rem 1.45rem 1.9rem;
      }

      @include media.lg {
        align-items: flex-start;
        border-radius: 2.4rem;
        border-top-left-radius: 3.2rem;
        padding: 1.9rem 4.7rem 1.2rem 2.8rem;
      }

      @include media.xl {
        border-radius: 2.6rem;
        border-top-left-radius: 3.6rem;
        padding: 2.2rem 5.6rem 1.5rem 3.1rem;
      }

      @include media.xxl {
        border-radius: 2.8rem;
        border-top-left-radius: 4.7rem;
        padding: 2.8rem 6.5rem 1.8rem 3.9rem;
      }

      @include media.xxxl {
        border-radius: 2.8rem;
        border-top-left-radius: 4.9rem;
        padding: 3rem 6.7rem 1.8rem 4.2rem;
      }

      &::before {
        position: absolute;
        content: '';
        right: 100%;
        bottom: 0;
        width: 2.1rem;
        height: 1.6rem;
        background-image: url('../images/cart-talk.svg');
        background-repeat: no-repeat;
        background-position: left bottom;
        background-size: auto 100%;

        @include media.lg {
          width: 4.6rem;
          height: 3.1rem;
        }

        @include media.xl {
          width: 5rem;
          height: 3.4rem;
        }

        @include media.xxl {
          width: 5rem;
          width: 6.1rem;
          height: 4.2rem;
        }

        @include media.xxxl {
          width: 6.7rem;
          height: 4.6rem;
        }
      }

      &::after {
        position: absolute;
        content: '';
        top: 2.9rem;
        right: -6rem;
        width: 9.7rem;
        aspect-ratio: 1 / 1;
        opacity: 0.4;
        background-image: url('../images/promo-decor.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        transform: rotate(230deg);

        @include media.lg {
          top: -2.1rem;
          right: -17rem;
          width: 20.8rem;
        }

        @include media.xl {
          top: -2.8rem;
          right: -19.1rem;
          width: 23.4rem;
          transform: rotate(222deg);
        }

        @include media.xxl {
          top: -3.8rem;
          right: -24.1rem;
          width: 29rem;
        }

        @include media.xxxl {
          right: -26.1rem;
          width: 31.2rem;
        }
      }
    }

    &-text {
      max-width: 14rem;

      font-weight: 400;
      font-size: 1rem;
      line-height: calc(12 / 10);

      color: var(--color-dark);

      margin: 0;

      @include media.sm {
        max-width: 18.5rem;
        font-size: 1.2rem;
      }

      @include media.md {
        max-width: 24.5rem;
        font-size: 1.4rem;
      }

      @include media.lg {
        max-width: 28.8rem;
        font-size: 1.6rem;
      }

      @include media.xl {
        max-width: 32.4rem;
        font-size: 1.8rem;
      }

      @include media.xxl {
        max-width: 40rem;
        font-size: 2.2rem;
      }

      @include media.xxxl {
        max-width: 43.2rem;
        font-size: 2.4rem;
      }

      &:not(:last-child) {
        margin-bottom: 1.6rem;

        @include media.sm {
          margin-bottom: 0;
        }
      }

      &-accent {
        display: block;

        font-weight: 600;

        margin-top: 0.2rem;

        @include media.md {
          margin-top: 0.4rem;
        }

        @include media.xxl {
          margin-top: 0.6rem;
        }

        &>span {
          color: var(--color-base);
        }
      }
    }

    &-name {
      text-transform: uppercase;

      font-weight: 600;
      font-size: 1.4rem;
      line-height: 154%;

      color: var(--color-base);

      margin: 0;

      @include media.sm {
        text-align: center;
      }

      @include media.md {
        font-size: 1.6rem;
      }

      @include media.xl {
        font-size: 1.8rem;
      }

      @include media.xxl {
        font-size: 2.2rem;
      }

      @include media.xxxl {
        font-size: 2.4rem;
      }

      &-accent {
        display: block;

        font-size: 2.4rem;

        @include media.xl {
          font-size: 2.7rem;
        }

        @include media.xxl {
          font-size: 3.3rem;
        }

        @include media.xxxl {
          font-size: 3.5rem;
        }
      }
    }

    &-surprise {
      position: absolute;
      z-index: 3;

      top: 3.7rem;
      right: -1.6rem;

      display: block;
      width: 5.5rem;
      height: auto;
      aspect-ratio: 1 / 1;

      animation: anim-phonering 2.5s infinite ease-in-out;

      @include media.sm {
        top: 2.3rem;
        right: -2.1rem;
      }

      @include media.lg {
        width: 11.7rem;
        top: -0.8rem;
        right: -7.6rem;
      }

      @include media.xl {
        width: 13.2rem;
        top: -0.8rem;
        right: -8.6rem;
      }

      @include media.xxl {
        width: 16.3rem;
        top: -0.8rem;
        right: -10.8rem;
      }

      @include media.xxxl {
        width: 17.6rem;
        top: -1rem;
        right: -11.7rem;
      }

      &>img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center center;
      }
    }
  }

  &__label-flag {
    top: 0.9rem;

    @include media.lg {
      top: 0.8rem;
    }

    @include media.xl {
      top: 0.9rem;
    }

    @include media.xxl {
      top: 1.2rem;
    }

    @include media.xxxl {
      top: 1.3rem;
    }
  }

  &__row {
    --mb-item: 1.4rem;
    --width-item: 100%;
    --gap-item: 0.6rem;

    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    gap: var(--mb-item);


    @include media.sm {
      --width-item: calc(50% - 0.7rem);
    }

    @include media.md {
      --mb-item: 2rem;
      --width-item: calc(50% - 1rem);
      --gap-item: 0.8rem;
    }

    @include media.lg {
      --mb-item: 3rem;
      --width-item: calc(50% - 1.5rem);
      --gap-item: 1rem;
    }

    @include media.xl {
      --gap-item: 1.1rem;
    }

    @include media.xxl {
      --mb-item: 3.5rem;
      --width-item: calc(50% - 1.75rem);
      --gap-item: 1.4rem;
    }

    @include media.xxxl {
      --mb-item: 4rem;
      --width-item: calc(50% - 2rem);
      --gap-item: 1.5rem;
    }

    &:not(:last-child) {
      margin-bottom: 2rem;

      @include media.lg {
        margin-bottom: 2.5rem;
      }

      @include media.xl {
        margin-bottom: 3rem;
      }

      @include media.xxl {
        margin-bottom: 3.5rem;
      }

      @include media.xxxl {
        margin-bottom: 4rem;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: var(--gap-item);

    width: var(--width-item);
    box-sizing: border-box;

    color: var(--color-dark);

    background: var(--color-light);
    box-shadow: 0px 0.9px 10px var(--color-shadow-gray);
    border-radius: 1.2rem;

    padding: 1.5rem;
    margin: 0;

    @include media.md {
      padding: 1.7rem;
      border-radius: 1.8rem;
    }

    @include media.lg {
      padding: 2rem;
      border-radius: 2.4rem;
    }

    @include media.xl {
      padding: 2.2rem;
      border-radius: 2.6rem;
    }

    @include media.xxl {
      padding: 2.8rem;
      border-radius: 3.2rem;
    }

    @include media.xxxl {
      padding: 3rem;
      border-radius: 3.4rem;
    }
  }

  &__pic {
    position: relative;
    display: block;
    overflow: hidden;

    width: 100%;
    height: auto;

    border-radius: 1rem;

    @include media.lg {
      border-radius: 1.5rem;
    }

    @include media.xl {
      border-radius: 1.6rem;
    }

    @include media.xxl {
      border-radius: 2rem;
    }

    @include media.xxxl {
      border-radius: 2.2rem;
    }

    &::before {
      content: '';
      display: table;
      padding-bottom: 54.88%;

      @include media.lg {
        padding-bottom: 52.38%;
      }

      @include media.xl {
        padding-bottom: 51.89%;
      }

      @include media.xxl {
        padding-bottom: 52.04%;
      }

      @include media.xxxl {
        padding-bottom: 52.06%;
      }
    }

    &>img {
      position: absolute;

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 100%;
      height: 100%;

      object-fit: cover;
      object-position: center top;
    }

    &--height {
      &::before {
        padding-bottom: 74.39%;

        @include media.sm {
          padding-bottom: 54%;
        }

        @include media.lg {
          padding-bottom: 52.38%;
        }

        @include media.xl {
          padding-bottom: 51.89%;
        }

        @include media.xxl {
          padding-bottom: 52.04%;
        }

        @include media.xxxl {
          padding-bottom: 52.06%;
        }
      }
    }
  }

  &__name {
    text-align: center;

    font-weight: 600;
    font-size: 1.2rem;
    line-height: calc(14 / 12);

    margin: 0;

    @include media.md {
      font-size: 1.4rem;
    }

    @include media.xl {
      font-size: 1.6rem;
    }

    @include media.xxl {
      font-size: 2rem;
    }

    @include media.xxxl {
      font-size: 2.2rem;
    }

    &>img {
      position: relative;
      top: -2px;
      margin-right: 3px;
      display: inline-block;
      vertical-align: middle;
      max-width: 100%;
      width: auto;
      max-height: 1.4rem;
      height: auto;

      @include media.md {
        max-height: 1.7rem;
      }

      @include media.xl {
        max-height: 1.9rem;
      }

      @include media.xxl {
        max-height: 2.4rem;
      }

      @include media.xxxl {
        max-height: 2.6rem;
      }
    }
  }

  &__cntrl {
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    @include media.md {
      gap: 2.5rem;
    }

    @include media.xl {
      gap: 3rem;
    }

    @include media.xxl {
      gap: 3.5rem;
    }

    @include media.xxxl {
      gap: 4rem;
    }
  }

  &__text {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: calc( 19 / 16 );
    text-align: center;
    margin: 0;

    @include media.md {
      line-height: calc( 29 / 24 );
      font-size: 2.4rem;
    }

    @include media.xl {
      font-size: 2.8rem;
    }

    @include media.xxl {
      font-size: 3.2rem;
    }

    @include media.xxxl {
      font-size: 3.5rem;
    }

    &-accent {
      color: var(--color-base);
    }
  }

  &__badges {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.4rem;

    @include media.sm {
      flex-direction: row;
      justify-content: center;
      gap: 1.2rem;
    }

    @include media.xl {
      gap: 1rem;
    }
  }

  &__badge {
    max-width: 40rem;
    width: 100%;
    min-height: 7rem;

    border-width: 2px;
    border-radius: 16px;

    @include media.sm {
      max-width: none;
      width: auto;
      padding: 0.7rem 1.5rem;
    }

    &>img.badge__img {
      max-width: 19.8rem;
      max-height: 5.2rem;

      @include media.sm {
        max-width: 19.8rem;
        max-height: 5.2rem;
      }
    }
  }
}
