@use '../../inc/mixins/breakpoints' as queries;
@use '../../inc/mixins/patterns' as pat;

.problems {
  position: relative;
  z-index: 1;

  &>.container {
    position: relative;
    z-index: 2;
  }

  &__bg {
    position: absolute;
    z-index: 1;
    display: none;
    top: 0;
    left: 0;
    bottom: -16.3rem;
    width: 100%;
    opacity: 0.35;
    overflow: hidden;
    pointer-events: none;

    @include queries.lg {
      display: block;
    }

    @include queries.xl {
      bottom: -18.3rem;
    }

    @include queries.xxl {
      bottom: -22.7rem;
    }

    @include queries.xxxl {
      bottom: -24.7rem;
    }

    &::before,
    &::after {
      position: absolute;
      content: '';
      z-index: 1;
      display: block;
      background-image: url('../images/promo-decor.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100% 100%;
      opacity: 0.7;
      aspect-ratio: 1 / 1;
    }

    &::after {
      bottom: 0;
      left: 50.7%;
      width: 79.4rem;
      transform: rotate(110deg);

      @include queries.xl {
        width: 89.4rem;
        bottom: 0;
        left: 49.5%;
      }

      @include queries.xxl {
        width: 110.3rem;
        bottom: 0;
        left: 49.6%;
      }

      @include queries.xxxl {
        width: 118.9rem;
        bottom: 0;
        left: 49.6%;
      }
    }

    &::before {
      bottom: -1.9rem;
      right: 54.3%;
      width: 63.6rem;
      transform: rotate(-45deg);

      @include queries.xl {
        width: 71.6rem;
      }

      @include queries.xxl {
        width: 88.5rem;
      }

      @include queries.xxxl {
        bottom: -3.9rem;
        width: 95.4rem;
      }
    }
  }

  &__heading {
    max-width: 20rem;

    @include queries.sm {
      max-width: none;
    }
  }

  &__row,
  &__review-slider-wrapper {
    @include pat.not-last-margin;
  }

  &__row {
    --margin-problem-item: 1.4rem;

    @include queries.md {
      --margin-problem-item: 1.5rem;

      display: flex;
      justify-content: center;
      flex-flow: row wrap;
      gap: var(--margin-problem-item);
    }

    @include queries.lg {
      --margin-problem-item: 3rem;
    }

    @include queries.xxl {
      --margin-problem-item: 3.5rem;
    }

    @include queries.xxxl {
      --margin-problem-item: 4rem;
    }
  }

  &__item {
    --br-item: 1.2rem;

    width: 100%;
    height: auto;

    box-sizing: border-box;

    background: var(--color-light);
    box-shadow: 0px 0.9px 10.4px var(--color-shadow-gray);
    border-radius: var(--br-item);
    overflow: hidden;

    line-height: calc(14 / 12);
    text-align: center;

    color: var(--color-dark);

    padding: 1.5rem;

    @include queries.md-max {
      &:not(:last-child) {
        margin: 0 0 var(--margin-problem-item);
      }
    }

    @include queries.md {
      width: calc(33.3333% - var(--margin-problem-item) * 2 / 3);

      &:has(+.problems__item--max) {
        width: calc(33.3333% - var(--margin-problem-item) * 2 / 3);
      }
    }

    @include queries.lg {
      --br-item: 2.4rem;

      padding: 2rem;
    }

    @include queries.xl {
      --br-item: 2.6rem;

      padding: 2.2rem;
    }

    @include queries.xxl {
      --br-item: 3.2rem;

      padding: 2.8rem;
    }

    @include queries.xxxl {
      --br-item: 3.4rem;

      padding: 3rem;
    }

    &-bg {
      position: absolute;
      z-index: 3;
      display: block;
      inset: 1px;
      border-radius: var(--br-item);
      overflow: hidden;
      opacity: 0.4;

      &::before,
      &::after {
        position: absolute;
        content: '';
        opacity: 0.7;
        display: block;
        background-image: url('../images/promo-decor.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% 100%;
      }

      &::before {
        height: 91.05%;
        width: 94.69%;
        bottom: -35.77%;
        left: -55%;
        transform: rotate(-81deg) scale(1, -1);
      }

      &::after {
        height: 85.36%;
        width: 87.15%;
        top: -36.58%;
        right: -40.5%;
        transform: rotate(90deg) scaleY(-1);
      }
    }

    &--decor {
      position: relative;

      min-height: 24.6rem;
      height: auto;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &::before {
        position: absolute;
        z-index: 1;
        display: block;
        content: '';
        inset: 0;
        background-image: var(--gradient-wb-horizontal);
      }

      &::after {
        position: absolute;
        z-index: 2;
        display: block;
        content: '';
        inset: 1px;
        background-color: var(--color-light-darken);
        border-radius: var(--br-item);
      }

      .problems {

        &__que,
        &__text {
          position: relative;
          z-index: 4;
        }

        &__que {
          display: inline-flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          font-weight: 600;
          font-size: 7.1rem;
          line-height: calc(85 / 71);

          color: var(--color-base);

          @include queries.xl {
            font-size: 7.3rem;
          }

          @include queries.xxl {
            font-size: 7.5rem;
          }

          @include queries.xxxl {
            font-size: 7.7rem;
          }

          &:not(:last-child) {
            margin-bottom: 1rem;

            @include queries.xxl {
              margin-bottom: 1.2rem;
            }
          }

          &-bottom {
            font-size: 4.7rem;
            line-height: calc(56 / 47);

            margin-top: -0.6rem;

            @include queries.xl {
              font-size: 4.9rem;
            }

            @include queries.xxl {
              font-size: 5.1rem;

              margin-top: -0.4rem;
            }

            @include queries.xxxl {
              font-size: 5.3rem;
            }
          }
        }

        &__text {
          max-width: none;

          font-size: 2.1rem;

          @include queries.xl {
            font-size: 2.3rem;
          }

          @include queries.xxl {
            max-width: 31rem;

            font-size: 2.5rem;
          }

          @include queries.xxxl {
            max-width: 31rem;

            font-size: 2.7rem;
          }
        }
      }
    }

    &--max {
      text-align: left;

      @include queries.md {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: calc(66.6666% - var(--margin-problem-item) * 2 / 3);
      }

      .problems {
        &__pic {
          @include queries.md {
            flex: 0 0 38.898%;
            height: 100%;
            margin-right: 1rem;
          }

          @include queries.xl {
            flex: 0 0 34.344%;
          }

          @include queries.xxl {
            flex: 0 0 38.345%;
            margin-right: 1.4rem;
          }

          @include queries.xxxl {
            flex: 0 0 38.49%;
            margin-right: 1.5rem;
          }

          &:not(:last-child) {
            @include queries.md {
              margin-bottom: 0;
            }
          }

          &::before {
            @include queries.md {
              display: none;
            }
          }
        }

        &__text {
          font-weight: 600;
          font-size: 1.8rem;
          color: var(--color-base);

          margin-left: 0;
          margin-right: 0;

          @include queries.xxl {
            font-size: 2.4rem;
            line-height: calc(29 / 24);
          }

          @include queries.xxxl {
            font-size: 2.582rem;
          }

          &:not(:last-child) {
            margin-bottom: 2rem;

            @include queries.lg {
              margin-bottom: 2.9rem;
            }

            @include queries.xxl {
              margin-bottom: 4rem;
            }
          }
        }
      }
    }
  }

  &__content {
    width: 100%;
    height: auto;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    &-item {
      position: relative;

      font-weight: 600;
      font-size: 1.8rem;
      line-height: calc(21 / 18);

      padding-left: 2.6rem;
      margin: 0;

      @include queries.xxl {
        font-size: 2.4rem;
        line-height: calc(29 / 24);
        padding-left: 3.6rem;
      }

      @include queries.xxxl {
        padding-left: 3.7rem;
      }

      &:not(:last-child) {
        margin-bottom: 2.5rem;

        @include queries.lg {
          margin-bottom: 2.7rem;
        }

        @include queries.xxl {
          margin-bottom: 3.5rem;
        }
      }

      &::before {
        position: absolute;
        content: '';
        left: 0.3rem;
        top: 0.3rem;
        width: 1.6rem;
        aspect-ratio: 1 / 1;
        background: url('../images/check.svg');
        background-size: 100% 100%;
        background-position: center center;
        transform: rotate(-15deg);

        @include queries.xxl {
          width: 2.2rem;
          top: 0.4rem;
          left: 0.4rem;
        }
      }
    }
  }

  &__pic {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 1rem;
    width: 100%;
    height: auto;

    @include queries.lg {
      border-radius: 1.5rem;
    }

    @include queries.xl {
      border-radius: 1.6rem;
    }

    @include queries.xxl {
      border-radius: 2rem;
    }

    @include queries.xxxl {
      border-radius: 2.2rem;
    }

    &:not(:last-child) {
      margin-bottom: 0.6rem;

      @include queries.lg {
        margin-bottom: 1rem;
      }

      @include queries.xl {
        margin-bottom: 1.1rem;
      }

      @include queries.xxl {
        margin-bottom: 1.4rem;
      }

      @include queries.xxxl {
        margin-bottom: 1.5rem;
      }
    }

    &::before {
      content: '';
      display: table;
      padding-bottom: 54.88%;

      @include queries.lg {
        padding-bottom: 85.94%;
      }

      @include queries.xl {
        padding-bottom: 84.58%;
      }

      @include queries.xxl {
        padding-bottom: 84.72%;
      }

      @include queries.xxxl {
        padding-bottom: 84.97%;
      }
    }

    &>img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__que,
  &__text {
    font-size: 1.2rem;
    margin: 0 auto;

    @include queries.lg {
      font-size: 1.4rem;
    }

    @include queries.xl {
      font-size: 1.6rem;
    }

    @include queries.xxl {
      font-size: 2rem;
    }

    @include queries.xxxl {
      font-size: 2.157rem;
    }

    &:not(:last-child) {
      margin-bottom: 0.5rem;

      @include queries.lg {
        margin-bottom: 1rem;
      }

      @include queries.xl {
        margin-bottom: 1.1rem;
      }

      @include queries.xxl {
        margin-bottom: 1.4rem;
      }

      @include queries.xxxl {
        margin-bottom: 1.5rem;
      }
    }
  }

  &__que {
    font-weight: 400;
  }

  &__text {
    font-weight: 600;
  }

  &__cntrl {
    .btn.btn-lg {
      --btn-padding-x: 3rem;

      min-width: 29.4rem;

      @include queries.sm {
        --btn-padding-x: 6rem;

        min-width: auto;
      }

      @include queries.lg {
        --btn-padding-x: 4.5rem;
      }

      @include queries.xl {
        --btn-padding-x: 5rem;
      }

      @include queries.xxl {
        --btn-padding-x: 6rem;
      }

      @include queries.xxxl {
        --btn-padding-x: 6.4rem;
      }
    }
  }

  &--max {
    .problems {
      &__bg {
        bottom: 10.4%;
      }

      &__heading {
        max-width: none;

        br {
          @include queries.sm {
            display: none;
          }
        }
      }

      &__pic {
        &::before {
          padding-bottom: 74.39%;

          @include queries.lg {
            padding-bottom: 85.94%;
          }

          @include queries.xl {
            padding-bottom: 84.58%;
          }

          @include queries.xxl {
            padding-bottom: 84.72%;
          }

          @include queries.xxxl {
            padding-bottom: 84.97%;
          }
        }
      }

      &__item {
        &:not(.problems__item--decor) {
          .problems__text {
            max-width: 25.2rem;

            @include queries.lg {
              max-width: none;
            }
          }
        }
      }
    }
  }
}
