section.first#firstBlock
  .swiper.hero__line.first__line#heroLine
    .swiper-wrapper
      .swiper-slide.hero__line-item
        span.lab.hero__line-lab
          svg.lab__svg
            rect(width="100%" height="100%" rx="4" ry="4" fill="url(#fillGradient)" fill-opacity="0.59" stroke="url(#strokeGradient)" stroke-width="1" stroke-linecap="round")
          span Ограниченное предложение
      .swiper-slide.hero__line-item
        span.lab.hero__line-lab
          svg.lab__svg
            rect(width="100%" height="100%" rx="4" ry="4" fill="url(#fillGradient)" fill-opacity="0.59" stroke="url(#strokeGradient)" stroke-width="1" stroke-linecap="round")
          span Доступ за минуту
      .swiper-slide.hero__line-item
        span.lab.hero__line-lab
          svg.lab__svg
            rect(width="100%" height="100%" rx="4" ry="4" fill="url(#fillGradient)" fill-opacity="0.59" stroke="url(#strokeGradient)" stroke-width="1" stroke-linecap="round")
          span 1400+ пользователей доверяют нам
      .swiper-slide.hero__line-item
        span.lab.hero__line-lab
          svg.lab__svg
            rect(width="100%" height="100%" rx="4" ry="4" fill="url(#fillGradient)" fill-opacity="0.59" stroke="url(#strokeGradient)" stroke-width="1" stroke-linecap="round")
          span 200+ инструментов для самопомощи
      .swiper-slide.hero__line-item
        span.lab.hero__line-lab
          svg.lab__svg
            rect(width="100%" height="100%" rx="4" ry="4" fill="url(#fillGradient)" fill-opacity="0.59" stroke="url(#strokeGradient)" stroke-width="1" stroke-linecap="round")
          span 400+ проверенных специалистов
      .swiper-slide.hero__line-item
        span.lab.hero__line-lab
          svg.lab__svg
            rect(width="100%" height="100%" rx="4" ry="4" fill="url(#fillGradient)" fill-opacity="0.59" stroke="url(#strokeGradient)" stroke-width="1" stroke-linecap="round")
          span Выгодно с подпиской за 499/месяц
      .swiper-slide.hero__line-item
        span.lab.hero__line-lab
          svg.lab__svg
            rect(width="100%" height="100%" rx="4" ry="4" fill="url(#fillGradient)" fill-opacity="0.59" stroke="url(#strokeGradient)" stroke-width="1" stroke-linecap="round")
          span Групповые встречи с психологами
  .container.first__container
    .hero__wrapper.first__wrapper
      .hero__main.first__main
        h1.first__title Пройди тест и узнай, 
          br
          | что мешает тебе быть счастливым
        span.lab.first__lab.first__lab--check
          svg.lab__svg
            rect(width="100%" height="100%" rx="4" ry="4" fill="url(#fillGradient)" fill-opacity="0.59" stroke="url(#strokeGradient)" stroke-width="1" stroke-linecap="round")
          span Получи персональные рекомендации 
            br
            | для работы над собой.
      .f-masonry.first__masonry.first__masonry--new
        .f-masonry__item
          p.f-masonry__text
            span.f-masonry__text-accent 200+ 
            | инструментов для самопомощи
        .f-masonry__item.f-masonry__item--pic
          picture.f-masonry__pic
            img.f-masonry__img(src="/assets/picture/hero-01.jpg", alt="")
        .f-masonry__item.f-masonry__item--gradient
          p.f-masonry__text Доступ 
            span.f-masonry__text-accent за минуту
        .f-masonry__item.f-masonry__item--cats
          p.f-masonry__text Проверенные тесты
          ul.f-masonry__row
            li.f-cat.f-cat--mini.f-masonry__cat
              img.f-cat__img(src="/assets/picture/landing4/first-01.png", alt="")
              span.f-cat__text Тревожность
            li.f-cat.f-cat--mini.f-masonry__cat
              img.f-cat__img(src="/assets/picture/landing4/first-02.png", alt="")
              span.f-cat__text Энергия
            li.f-cat.f-cat--mini.f-masonry__cat
              img.f-cat__img(src="/assets/picture/landing4/first-03.png", alt="")
              span.f-cat__text Детские травмы
            li.f-cat.f-cat--mini.f-masonry__cat
              img.f-cat__img(src="/assets/picture/landing4/first-04.png", alt="")
              span.f-cat__text Лидерство
        .f-masonry__item.f-masonry__item--cats
          p.f-masonry__text Доступ к
          ul.f-masonry__row
            li.f-cat.f-cat--mini.f-masonry__cat
              img.f-cat__img(src="/assets/picture/landing3/psiholog-icon.png", alt="")
              span.f-cat__text Психологам
            li.f-cat.f-cat--mini.f-masonry__cat
              img.f-cat__img(src="/assets/picture/landing3/coach-icon.png", alt="")
              span.f-cat__text Коучам
          p.f-masonry__text для разборов
        .f-masonry__item.f-masonry__item--gradient
          p.f-masonry__text
            | Проверенных специалистов
            span.f-masonry__text-accent 400+
        .f-masonry__item.f-masonry__item--pic
          picture.f-masonry__pic
            img.f-masonry__img(src="/assets/picture/landing4/first-05.jpg", alt="")
      .hero__control.first__control
        .first__text.first__text--mini Быть счастливым и осознанно проживать жизнь - ЛЕГКО
        a.btn.btn-lg.btn-gradient-red.first__btn(href="#!") Пройти бесплатный тест
