section.problems.problems--max
  .problems__bg
  .container
    h2.heading.problems__heading Ты чувствуешь, что что-то не так, но не можешь понять, что именно?
    .problems__row
      .problems__item
        picture.problems__pic
          img(src="/assets/picture/landing4/problems-06.jpg", alt="")
        p.problems__text Постоянная тревога и усталость
      .problems__item
        picture.problems__pic
          img(src="/assets/picture/landing4/problems-07.jpg", alt="")
        p.problems__text Сложности в отношениях
      .problems__item
        picture.problems__pic
          img(src="/assets/picture/landing4/problems-08.jpg", alt="")
        p.problems__text Нет уверенности в своих силах
      .problems__item
        picture.problems__pic
          img(src="/assets/picture/landing4/problems-09.jpg", alt="")
        p.problems__text Ощущение, что застрял на одном месте
      .problems__item.problems__item--max
        picture.problems__pic
          img(src="/assets/picture/landing4/problems-10.jpg", alt="")
        .problems__content
          p.problems__text Наши тесты помогают:
          ul.problems__list
            li.problems__list-item Понять свои внутренние блоки
            li.problems__list-item Прожить личностные кризисы
            li.problems__list-item Получить персональные инструменты для работы над собой
    .cntrl.problems__cntrl
      a.btn.btn-lg.btn-gradient-red(href="#!") Узнать свои слабые и сильные стороны
