section.problems.problems--max
  .container
    h2.heading.problems__heading Выбери свой тест 
      br
      | и раскрой правду о себе
    .problems__row
      .problems__item
        picture.problems__pic
          img(src="/assets/picture/landing4/problems-01.jpg", alt="")
        h3.problems__que Уровень тревожности: 
        p.problems__text насколько твое беспокойство управляет тобой?
      .problems__item
        picture.problems__pic
          img(src="/assets/picture/landing4/problems-02.jpg", alt="")
        h3.problems__que Уровень энергии:
        p.problems__text почему тебе не хватает сил и мотивации?
      .problems__item
        picture.problems__pic
          img(src="/assets/picture/landing4/problems-03.jpg", alt="")
        h3.problems__que Лидерство:
        p.problems__text насколько ты способен влиять на свою жизнь и других людей?
      .problems__item
        picture.problems__pic
          img(src="/assets/picture/landing4/problems-04.jpg", alt="")
        h3.problems__que Детские травмы:
        p.problems__text как прошлое влияет на твое настоящее?
      .problems__item
        picture.problems__pic
          img(src="/assets/picture/landing4/problems-05.jpg", alt="")
        h3.problems__que Гармоничные отношения:
        p.problems__text что мешает тебе строить крепкие связи с людьми?
      .problems__item.problems__item--decor
        .problems__item-bg
        h3.problems__que
          span +15
          span.problems__que-bottom тестов
        p.problems__text с реальными рекомендациями 
          br
          | от психологов
    .cntrl.problems__cntrl
      a.btn.btn-lg.btn-gradient-red(href="#!") Пройти тест бесплатно
