section.s-review#s-review
  .s-review__bg
  .container.s-review__container
    h2.heading.s-review__heading Ты не один: тысячи людей уже сделали первый шаг к осознанности
    .review-slider-wrapper.s-review__review-slider-wrapper
      .swiper.review-slider
        .swiper-wrapper
          .swiper-slide.review
            article.review__item
              picture.review__pic
                img(src="/assets/picture/review-01.jpg", alt="")
              .review__content
                h3.review__name Марина, 32 года
                span.review__rating
                  span(style="width: 100%")
                p.review__comment Я думала, что у меня просто стресс, а тест показал высокий уровень тревожности. Теперь я понимаю, как с этим работать!
          .swiper-slide.review
            article.review__item
              picture.review__pic
                img(src="/assets/picture/review-04.jpg", alt="")
              .review__content
                h3.review__name Иван, 27 лет
                span.review__rating
                  span(style="width: 100%")
                p.review__comment Тест на лидерство помог мне увидеть, в чем моя сила. После этого я решился на карьерные перемены!
          .swiper-slide.review
            article.review__item
              picture.review__pic
                img(src="/assets/picture/review-05.jpg", alt="")
              .review__content
                h3.review__name Екатерина, 35 лет
                span.review__rating
                  span(style="width: 100%")
                p.review__comment Я прошла тест на влияние детских травм и осознала, как сильно они мешают мне строить отношения. Это стало точкой перемен!
          .swiper-slide.review
            article.review__item
              picture.review__pic
                img(src="/assets/picture/review-02.jpg", alt="")
              .review__content
                h3.review__name Олег, 40 лет
                span.review__rating
                  span(style="width: 100%")
                p.review__comment После теста на уровень энергии я понял, почему постоянно устаю. Теперь следую рекомендациям и чувствую себя намного лучше.
          .swiper-slide.review
            article.review__item
              picture.review__pic
                img(src="/assets/picture/review-03.jpg", alt="")
              .review__content
                h3.review__name Алина, 29 лет
                span.review__rating
                  span(style="width: 100%")
                p.review__comment Тест помог мне увидеть, что я боюсь успеха. Это изменило мой взгляд на себя и свои возможности!
          .swiper-slide.review
            article.review__item
              picture.review__pic
                img(src="/assets/picture/review-07.jpg", alt="")
              .review__content
                h3.review__name Сергей, 36 лет
                span.review__rating
                  span(style="width: 100%")
                p.review__comment Результаты теста совпали с тем, о чем мне говорили на личной консультации у психолога. Очень точные и полезные выводы!
          .swiper-slide.review
            article.review__item
              picture.review__pic
                img(src="/assets/picture/review-06.jpg", alt="")
              .review__content
                h3.review__name Дарья, 31 год
                span.review__rating
                  span(style="width: 100%")
                p.review__comment Я никогда не задумывалась, как сильно тревога управляет моими решениями. После теста начала работать с этим и уже чувствую изменения.
      .swiper-button-prev.review-slider-prev
      .swiper-button-next.review-slider-next
    .cntrl.s-review__cntrl
      a.btn.btn-lg.btn-gradient-red(href="#!") Пройти тест
