section.test#test
  .test__bg
  .container
    h2.heading.test__heading Почему наши практики действительно помогают?
    ul.test__row
      li.test__item Звукотерапия снижает уровень стресса и нормализует сон
      li.test__item Медитации включают дыхательные и расслабляющие техники
      li.test__item Мантры очищают разум и восстанавливают внутренний баланс
      li.test__item Можно слушать где угодно: дома, в машине, на работе
    .cntrl.test__cntrl
      p.test__text Почувствуйте эффект уже 
        span.test__text-accent с первой практики 
        | и сделайте это своей привычкой
