section.wild#wild
  .container
    h2.heading.wild__heading Начните заботу о себе 
      span.heading__accent уже сегодня
    p.wild__sub-heading Заберите 2 бесплатные медитации и почувствуйте лёгкость и энергию в теле
    .wild__block
      svg.wild__block-border
        rect(width="100%" height="100%" fill="none" stroke="url(#strokeGradient)" rx="12" stroke-width="1" stroke-linecap="round")
      .wild__block-bg
      .wild__block-content
        .wild__block-left-side
          p.wild__block-pre-title Хотите больше медитаций для прослушивания каждый день?
          h3.wild__block-title Пройдите регистрацию в 2 клика 
            br
            | и в разделе “медитации” 
            br
            | вас ждут бесплатные практики.
        .swiper.player-slider.wild__block-slider
          .swiper-wrapper
            .swiper-slide.m-player.wild__block-player
              audio.m-player__audio
                source(src="/assets/sounds/01.mp3", type="audio/mp3")
              .m-player__controls
                .m-player__left
                  picture.m-player__cover
                    img(src="/assets/picture/landing5/cover-01.jpg", alt="")
                  button.m-player__play
                    svg.m-player__play-icon
                      use(xlink:href="#play-icon")
                .m-player__main
                  span.m-player__text Медитация 
                    br
                    | на снятие тресса
                  .m-player__bar
                button.m-player__like
                  svg.m-player__like-icon
                    use(xlink:href="#like-icon")
            .swiper-slide.m-player.wild__block-player
              audio.m-player__audio
                source(src="/assets/sounds/02.mp3", type="audio/mp3")
              .m-player__controls
                .m-player__left
                  picture.m-player__cover
                    img(src="/assets/picture/landing5/cover-02.jpg", alt="")
                  button.m-player__play
                    svg.m-player__play-icon
                      use(xlink:href="#play-icon")
                .m-player__main
                  span.m-player__text Медитация на уверенность 
                    br
                    | в себе
                  .m-player__bar
                button.m-player__like
                  svg.m-player__like-icon
                    use(xlink:href="#like-icon")
            .swiper-slide.m-player.wild__block-player
              audio.m-player__audio
                source(src="/assets/sounds/03.mp3", type="audio/mp3")
              .m-player__controls
                .m-player__left
                  picture.m-player__cover
                    img(src="/assets/picture/landing5/cover-03.jpg", alt="")
                  button.m-player__play
                    svg.m-player__play-icon
                      use(xlink:href="#play-icon")
                .m-player__main
                  span.m-player__text Медитация на привлечение финансов
                  .m-player__bar
                button.m-player__like
                  svg.m-player__like-icon
                    use(xlink:href="#like-icon")
            .swiper-slide.m-player.wild__block-player
              audio.m-player__audio
                source(src="/assets/sounds/04.mp3", type="audio/mp3")
              .m-player__controls
                .m-player__left
                  picture.m-player__cover
                    img(src="/assets/picture/landing5/cover-04.jpg", alt="")
                  button.m-player__play
                    svg.m-player__play-icon
                      use(xlink:href="#play-icon")
                .m-player__main
                  span.m-player__text Медитация по наполнению ресурсом
                  .m-player__bar
                button.m-player__like
                  svg.m-player__like-icon
                    use(xlink:href="#like-icon")
            .swiper-slide.m-player.wild__block-player
              audio.m-player__audio
                source(src="/assets/sounds/05.mp3", type="audio/mp3")
              .m-player__controls
                .m-player__left
                  picture.m-player__cover
                    img(src="/assets/picture/landing5/cover-05.jpg", alt="")
                  button.m-player__play
                    svg.m-player__play-icon
                      use(xlink:href="#play-icon")
                .m-player__main
                  span.m-player__text Медитация на безусловную любовь
                  .m-player__bar
                button.m-player__like
                  svg.m-player__like-icon
                    use(xlink:href="#like-icon")
    .cntrl.wild__cntrl
      a.btn.btn-lg.btn-gradient-red(href="#!") Хочу медитации каждый день