@use '../../../inc/mixins/breakpoints' as media;
@use '../../../inc/mixins/hover' as hover;

.free {
  position: relative;
  padding: 8.4rem 3.1rem 2.4rem;
  background: linear-gradient(0deg, #3A49CE 1.31%, #5A5ADA 15.05%, #F7F9FF 33.26%), #F7F9FF;
  border-radius: 0 0 18px 18px;
  overflow: hidden;

  @include media.md {
    padding: 4rem 4rem 4.6rem;
    background: linear-gradient(270deg, #3A49CE -7.05%, #5A5ADA 8.12%, #9B9CE9 17.97%, #F7F9FF 46.32%);
    border-radius: 0;
  }

  @include media.xl {
    padding: 9rem 8rem 5.9rem;
  }

  @include media.xxl {
    padding: 11rem 8rem 11.1rem;
  }

  &::before {
    position: absolute;
    z-index: 2;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/free-bg.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% auto;

    @include media.md {
      left: auto;
      right: 0;
      background-image: url('../images/free-bg-pc.png');
      background-position: right center;
      background-size: auto 100%;
    }
  }

  &__decor {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    display: none;
    pointer-events: none;

    @include media.md {
      display: block;
    }

    &::before {
      position: absolute;
      content: '';
      display: block;
      border-radius: 50%;
      bottom: -21.3rem;
      left: -7.5rem;
      width: 25.7rem;
      height: 25.7rem;
      opacity: 0.8;
      filter: blur(72.907px);
      background: linear-gradient(180deg, #355BFF 20%, #9290FF 100%);

      @include media.xl {
        bottom: -20rem;
        left: 8.4rem;
      }

      @include media.xxl {
        bottom: -10.5rem;
        left: 0;
        width: 31.3rem;
        height: 31.3rem;
      }
    }

    &::after {
      position: absolute;
      content: '';
      display: block;
      top: -14.3rem;
      right: -10rem;
      width: 59rem;
      height: 59rem;
      background: linear-gradient(176.76deg, #4A63F3 2.68%, #060F47 38.61%, #010520 75.04%);
      filter: blur(104.664px);
      transform: rotate(-120deg);

      @include media.xl {
        top: -9.3rem;
      }

      @include media.xxl {
        top: -24rem;
        right: -4.2rem;
        width: 71rem;
        height: 71rem;
      }
    }
  }

  &__top {
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 1.6rem;

    @include media.md {
      padding: 1rem 4rem;
    }

    @include media.xl {
      padding: 1rem 8rem;
    }
  }

  &__logo {
    display: block;
    max-width: 14.2rem;
    width: 100%;
    height: auto;
    object-fit: contain;
    opacity: 1;
    transition: .3s ease-in-out;

    @include media.lg {
      max-width: 17.8rem;
    }

    @include hover.on-hover {
      opacity: 0.8;
    }

    &>img {
      max-width: 100%;
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  &__wrapper {
    max-width: 192rem;
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2.9rem;
    margin: 0 auto;

    @include media.md {
      flex-direction: row;
    }
  }

  &__main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;

    @include media.md {
      align-items: flex-start;
      padding-top: 4rem;
    }

    @include media.lg {
      padding-top: 4.8rem;
      gap: 3.5rem;
    }
  }

  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: calc(26 / 22);
    color: #565BD9;
    margin: 0;

    @include media.sm {
      font-size: 3rem;
    }

    @include media.md {
      text-align: left;
    }

    @include media.lg {
      font-size: 5rem;
      line-height: calc(60 / 50);
    }

    @include media.xl {
      font-size: 5.2rem;
    }

    @include media.xxl {
      font-size: 5.4rem;
    }
  }

  &__text {
    text-align: center;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: calc(17 / 14);
    color: #6D72A2;
    margin: 0;

    @include media.sm {
      font-size: 1.8rem;
    }

    @include media.md {
      text-align: left;
    }

    @include media.lg {
      font-size: 2.5rem;

      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }

    @include media.xl {
      font-size: 2.7rem;
    }

    @include media.xxl {
      font-size: 2.9rem;
    }
  }

  &__row {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 36.4rem;
    gap: 1rem;

    @include media.md {
      max-width: 36rem;
      justify-content: center;
    }

    @include media.lg {
      max-width: 45.6rem;
    }
  }

  &__badge {
    max-width: calc(50% - 0.5rem);
    width: 100%;
    min-height: auto;
    height: auto;
    padding: 0.5rem 2.8rem;

    @include media.lg {
      max-width: none;
      width: auto;
      padding: 0.8rem 2rem;
    }

    &>.badge__img {
      max-height: none;
      max-width: 100%;

      @include media.lg {
        max-width: 19.8rem;
        max-height: 5.2rem;
      }
    }
  }

  &__cards {
    max-width: 30rem;
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    @include media.md {
      width: 100%;
      flex-grow: 0;
      flex-shrink: 0;
    }

    @include media.lg {
      max-width: 36.5rem;
      margin-right: 6rem;
    }

    @include media.xl {
      margin-right: 6.3rem;
    }

    @include media.xxl {
      max-width: 42rem;
      margin-right: 11.8rem;
    }
  }

  &__card {
    position: relative;
    display: flex;
    border-radius: 2px;
    overflow: hidden;

    &:nth-child(1) {
      z-index: 2;
      width: 49.5%;
      margin-top: 29%;
      box-shadow: 0px 0px 62px rgba(158, 170, 211, 0.63);

      @include media.md {
        transform: rotate(-15deg);
      }
    }
    
    &:nth-child(2) {
      width: 50.5%;
      margin-left: -26%;
      box-shadow: 2px 2px 11px rgba(90, 119, 223, 0.82), 0px 0px 62px rgba(90, 119, 223, 0.63);
      transform: rotate(8deg);

      @include media.lg {
        margin-left: -22%;
      }
    }

    &>img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
}