svg.svg__hidden(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
  defs
    linearGradient(id="strokeGradient" x1="1" x2="0" y1="0" y2="0")
      stop(offset="0%" stop-color="#b6cfff")
      stop(offset="100%" stop-color="#fff")
    linearGradient(id="strokeGradientBonus" gradientTransform="rotate(0)" x1="1" x2="0" y1="0" y2="0")
      stop(offset="0%" stop-color="#fff")
        animate(attributeName="stop-color" values="#fff;#b6cfff;#fff" dur="5s" repeatCount="indefinite")
      stop(offset="100%" stop-color="#b6cfff")
        animate(attributeName="stop-color" values="#b6cfff;#fff;#b6cfff" dur="5s" repeatCount="indefinite")
    linearGradient(id="fillGradient" x1="0" x2="100%" y1="0" y2="0")
      stop(offset="0%" stop-color="#b2b0ff" stop-opacity="0.65")
      stop(offset="100%" stop-color="#e0ebff")
    linearGradient(id="paint0_linear_172_130174" x1="-4.9833" y1="7.50163" x2="15.5824" y2="7.6542" gradientUnits="userSpaceOnUse")
      stop(stop-color="#959FFF")
      stop(offset="0.480769" stop-color="#4203C2")
      stop(offset="0.995192" stop-color="#1B014F")
  symbol(id="play-icon" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg")
    g
      path(d="M4.993,2.496C4.516,2.223,4,2.45,4,3v26c0,0.55,0.516,0.777,0.993,0.504l22.826-13.008    c0.478-0.273,0.446-0.719-0.031-0.992L4.993,2.496z" fill="currentColor")
      path(d="M4.585,30.62L4.585,30.62C3.681,30.62,3,29.923,3,29V3c0-0.923,0.681-1.62,1.585-1.62c0.309,0,0.621,0.085,0.904,0.248    l22.794,13.007c0.559,0.319,0.878,0.823,0.878,1.382c0,0.548-0.309,1.039-0.847,1.347L5.488,30.373    C5.206,30.534,4.894,30.62,4.585,30.62z M5,3.651v24.698l21.655-12.34L5,3.651z" fill="currentColor")
  symbol(id="pause-icon" viewBox="0 0 11 12" xmlns="http://www.w3.org/2000/svg")
    g
      path(d="M2.68042 2.4617C2.68042 1.77921 3.23368 1.22595 3.91616 1.22595V1.22595C4.59864 1.22595 5.1519 1.77921 5.1519 2.46169V9.87615C5.1519 10.5586 4.59864 11.1119 3.91616 11.1119V11.1119C3.23368 11.1119 2.68042 10.5586 2.68042 9.87615V2.4617Z" fill="currentColor")
      path(d="M6.79956 2.4617C6.79956 1.77921 7.35282 1.22595 8.0353 1.22595V1.22595C8.71778 1.22595 9.27105 1.77921 9.27105 2.46169V9.87615C9.27105 10.5586 8.71778 11.1119 8.0353 11.1119V11.1119C7.35282 11.1119 6.79956 10.5586 6.79956 9.87615V2.4617Z" fill="currentColor")
  symbol(id="like-icon" viewBox="0 0 14 15" xmlns="http://www.w3.org/2000/svg")
    path(d="M1.88857 7.90101C0.605217 6.18988 1.033 3.62317 3.17192 2.7676C5.31084 1.91203 6.59419 3.62317 7.02198 4.47874C7.44976 3.62317 9.1609 1.91203 11.2998 2.7676C13.4387 3.62317 13.4387 6.18988 12.1554 7.90101C10.872 9.61215 7.02198 13.0344 7.02198 13.0344C7.02198 13.0344 3.17192 9.61215 1.88857 7.90101Z" fill="currentColor")
  symbol(id="chat-icon" viewBox="0 0 14 15" xmlns="http://www.w3.org/2000/svg")
    g
      path(d="M0.333253 7.5001C0.333587 6.0385 0.814241 4.61752 1.70124 3.45583C2.58824 2.29415 3.83243 1.45616 5.24232 1.07082C6.65221 0.685485 8.14967 0.774163 9.50422 1.32321C10.8588 1.87225 11.9954 2.85123 12.7391 4.10948C13.4828 5.36773 13.7923 6.83552 13.6202 8.28694C13.448 9.73837 12.8036 11.093 11.7862 12.1423C10.7688 13.1917 9.43468 13.8776 7.98926 14.0945C6.54384 14.3114 5.0672 14.0473 3.78659 13.3428L1.19459 14.1321C1.07897 14.1673 0.955963 14.1704 0.83871 14.1412C0.721458 14.1119 0.614375 14.0512 0.528916 13.9658C0.443457 13.8803 0.382837 13.7732 0.353539 13.656C0.324241 13.5387 0.327368 13.4157 0.362586 13.3001L1.15192 10.7041C0.614272 9.72181 0.332721 8.61991 0.333253 7.5001ZM4.33325 6.83344C4.33325 7.01025 4.40349 7.17982 4.52851 7.30484C4.65354 7.42987 4.82311 7.5001 4.99992 7.5001H8.99992C9.17673 7.5001 9.3463 7.42987 9.47132 7.30484C9.59635 7.17982 9.66659 7.01025 9.66659 6.83344C9.66659 6.65663 9.59635 6.48706 9.47132 6.36203C9.3463 6.23701 9.17673 6.16677 8.99992 6.16677H4.99992C4.82311 6.16677 4.65354 6.23701 4.52851 6.36203C4.40349 6.48706 4.33325 6.65663 4.33325 6.83344ZM4.99992 8.83344C4.82311 8.83344 4.65354 8.90368 4.52851 9.0287C4.40349 9.15372 4.33325 9.32329 4.33325 9.5001C4.33325 9.67692 4.40349 9.84649 4.52851 9.97151C4.65354 10.0965 4.82311 10.1668 4.99992 10.1668H7.66659C7.8434 10.1668 8.01297 10.0965 8.13799 9.97151C8.26301 9.84649 8.33325 9.67692 8.33325 9.5001C8.33325 9.32329 8.26301 9.15372 8.13799 9.0287C8.01297 8.90368 7.8434 8.83344 7.66659 8.83344H4.99992Z" fill="#7644DD")
      path(d="M0.333253 7.5001C0.333587 6.0385 0.814241 4.61752 1.70124 3.45583C2.58824 2.29415 3.83243 1.45616 5.24232 1.07082C6.65221 0.685485 8.14967 0.774163 9.50422 1.32321C10.8588 1.87225 11.9954 2.85123 12.7391 4.10948C13.4828 5.36773 13.7923 6.83552 13.6202 8.28694C13.448 9.73837 12.8036 11.093 11.7862 12.1423C10.7688 13.1917 9.43468 13.8776 7.98926 14.0945C6.54384 14.3114 5.0672 14.0473 3.78659 13.3428L1.19459 14.1321C1.07897 14.1673 0.955963 14.1704 0.83871 14.1412C0.721458 14.1119 0.614375 14.0512 0.528916 13.9658C0.443457 13.8803 0.382837 13.7732 0.353539 13.656C0.324241 13.5387 0.327368 13.4157 0.362586 13.3001L1.15192 10.7041C0.614272 9.72181 0.332721 8.61991 0.333253 7.5001ZM4.33325 6.83344C4.33325 7.01025 4.40349 7.17982 4.52851 7.30484C4.65354 7.42987 4.82311 7.5001 4.99992 7.5001H8.99992C9.17673 7.5001 9.3463 7.42987 9.47132 7.30484C9.59635 7.17982 9.66659 7.01025 9.66659 6.83344C9.66659 6.65663 9.59635 6.48706 9.47132 6.36203C9.3463 6.23701 9.17673 6.16677 8.99992 6.16677H4.99992C4.82311 6.16677 4.65354 6.23701 4.52851 6.36203C4.40349 6.48706 4.33325 6.65663 4.33325 6.83344ZM4.99992 8.83344C4.82311 8.83344 4.65354 8.90368 4.52851 9.0287C4.40349 9.15372 4.33325 9.32329 4.33325 9.5001C4.33325 9.67692 4.40349 9.84649 4.52851 9.97151C4.65354 10.0965 4.82311 10.1668 4.99992 10.1668H7.66659C7.8434 10.1668 8.01297 10.0965 8.13799 9.97151C8.26301 9.84649 8.33325 9.67692 8.33325 9.5001C8.33325 9.32329 8.26301 9.15372 8.13799 9.0287C8.01297 8.90368 7.8434 8.83344 7.66659 8.83344H4.99992Z" fill="url(#paint0_linear_172_130174)")
