svg.svg__hidden
  defs
    linearGradient(id="strokeGradient" x1="1" x2="0" y1="0" y2="0")
      stop(offset="0%" stop-color="#b6cfff")
      stop(offset="100%" stop-color="#fff")
    linearGradient(id="fillGradient" x1="0" x2="100%" y1="0" y2="0")
      stop(offset="0%" stop-color="#b2b0ff" stop-opacity="0.65")
      stop(offset="100%" stop-color="#e0ebff")
