extends layouts/_default.pug

block variables
  - const theme_title = '404 - Не найдено!'
  - const theme_color = '#fff'
  - const theme_body_classes = ['page', 'page--footer-bottom']
  - const current_page = '404'

block content
  include blocks/header.pug
  main.main#Main
    include blocks/404/main.pug
  include blocks/footer.pug
