extends layouts/_default.pug

block variables
  - const theme_title = 'Pages List'
  - const theme_color = '#fff'
  - const theme_body_classes = ['page']
  - const current_page = 'list_pages'

block content
  main.main#main
    ul
      li
        a(href="/landing1.html") Landing_1
      li
        a(href="/landing2.html") Landing_2
      li
        a(href="/landing3.html") Landing_3
      li
        a(href="/landing4.html") Landing_4
      li
        a(href="/landing5.html") Landing_5
      li
        a(href="/landing6.html") Landing_6
