extends layouts/_default.pug

block variables
  - const theme_title = 'Landing_5 (new)'
  - const theme_color = '#fff'
  - const theme_body_classes = ['page']
  - const current_page = 'landing_5new'

block content
  main.main#main
    include blocks/landing5/escape.pug
    include blocks/landing5/find.pug
    include blocks/landing5/prop.pug
    include blocks/landing5/view.pug
    include blocks/landing5/why.pug
    include blocks/landing5/anonym.pug
    include blocks/landing5/care.pug
  include components/footer.pug
  include components/svg-defs.pug
