extends layouts/_default.pug

block variables
  - const theme_title = 'Landing_2'
  - const theme_color = '#fff'
  - const theme_body_classes = ['page']
  - const current_page = 'landing_2'

block content
  main.main#main
    include blocks/landing2/banner.pug
    include blocks/landing2/help.pug
    include blocks/landing2/instruments.pug
    include blocks/landing2/users.pug
    include blocks/landing2/now.pug
    include blocks/landing2/bonus.pug
  include components/footer.pug
  include components/svg-defs.pug
