@keyframes anim-phonering-center {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }

  5% {
    transform: translate(-50%, -50%) rotate(0);
  }

  10% {
    transform: translate(-50%, -50%) rotate(-10deg);
  }

  15% {
    transform: translate(-50%, -50%) rotate(10deg);
  }

  20% {
    transform: translate(-50%, -50%) rotate(-10deg);
  }

  25% {
    transform: translate(-50%, -50%) rotate(10deg);
  }

  30% {
    transform: translate(-50%, -50%) rotate(0);
  }

  100% {
    transform: translate(-50%, -50%) rotate(0);
  }
}

@keyframes anim-phonering {
  0% {
    transform: rotate(0);
  }

  5% {
    transform: rotate(0);
  }

  10% {
    transform: rotate(-10deg);
  }

  15% {
    transform: rotate(10deg);
  }

  20% {
    transform: rotate(-10deg);
  }

  25% {
    transform: rotate(10deg);
  }

  30% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(0);
  }
}

@keyframes transform-top {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-3%);
  }
}

@keyframes mmfadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-10%);
  }
}
