@font-face {
	font-family: 'SFCompactDisplay';
	font-style: normal;
	font-weight: 100;
	src: local(''),
	url("../fonts/SFCompactDisplay-100.woff2") format("woff2"),
	url("../fonts/SFCompactDisplay-100.woff") format("woff");
	font-display: swap;
}
@font-face {
	font-family: 'SFCompactDisplay';
	font-style: normal;
	font-weight: 400;
	src: local(''),
	url("../fonts/SFCompactDisplay-400.woff2") format("woff2"),
	url("../fonts/SFCompactDisplay-400.woff") format("woff");
	font-display: swap;
}
@font-face {
	font-family: 'SFCompactDisplay';
	font-style: normal;
	font-weight: 500;
	src: local(''),
	url("../fonts/SFCompactDisplay-500.woff2") format("woff2"),
	url("../fonts/SFCompactDisplay-500.woff") format("woff");
	font-display: swap;
}
@font-face {
	font-family: 'SFCompactDisplay';
	font-style: normal;
	font-weight: 600;
	src: local(''),
	url("../fonts/SFCompactDisplay-600.woff2") format("woff2"),
	url("../fonts/SFCompactDisplay-600.woff") format("woff");
	font-display: swap;
}
@font-face {
	font-family: 'SFCompactDisplay';
	font-style: normal;
	font-weight: 700;
	src: local(''),
	url("../fonts/SFCompactDisplay-700.woff2") format("woff2"),
	url("../fonts/SFCompactDisplay-700.woff") format("woff");
	font-display: swap;
}
