@use '../inc/mixins/breakpoints' as queries;
@use '../inc/mixins/hover' as mix;

.btn {
  --btn-width: auto;
  --btn-padding-y: 0.8rem;
  --btn-padding-x: 2.5rem;
  --btn-font-size: 1.8rem;
  --btn-font-weight: 500;
  --btn-line-height: 1.5;
  --btn-color: hsl(0, 0%, 100%);
  --btn-hover-color: hsl(0, 0%, 100%);
  --btn-bg: hsl(219, 100%, 49%);
  --btn-hover-bg: hsl(219, 100%, 42%);
  --btn-border-width: 2px;
  --btn-border-color: hsl(219, 100%, 49%);
  --btn-hover-border-color: hsl(219, 100%, 42%);
  --btn-border-radius: 10rem;
  --btn-hover-border-color: transparent;
  --btn-box-shadow: none;
  --btn-disabled-opacity: 0.65;
  --btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--btn-focus-shadow-rgb), .5);
  --btn-focus-shadow-rgb: 38, 112, 252;
  --btn-active-color: hsl(0, 0%, 100%);
  --btn-active-bg: hsl(219, 100%, 40%);
  --btn-active-border-color: hsl(219, 100%, 37%);
  --btn-active-shadow: inset 0 3px 5px hsla(0, 0%, 0%, 0.125);
  --btn-disabled-color: hsl(0, 0%, 100%);
  --btn-disabled-bg: hsl(219, 100%, 49%);
  --btn-disabled-border-color: hsl(219, 100%, 49%);

  @include queries.md {
    --btn-padding-y: 1.8rem;
    --btn-padding-x: 7.2rem;
    --btn-font-size: 2rem;
  }

  & {
    display: inline-block;
    width: var(--btn-width);
    padding: var(--btn-padding-y) var(--btn-padding-x);
    font-weight: var(--btn-font-weight);
    font-size: var(--btn-font-size);
    line-height: var(--btn-line-height);
    color: var(--btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--btn-border-width) solid var(--btn-border-color);
    border-radius: var(--btn-border-radius);
    background: var(--btn-bg);
    box-shadow: var(--btn-box-shadow);
    transition: color .3s ease-in-out, background .3s ease-in-out, border-color .3s ease-in-out, box-shadow .3s ease-in-out, background-size .3s ease-in-out, background-position .3s ease-in-out;
  }

  @include mix.on-hover {
    color: var(--btn-hover-color);
    background: var(--btn-hover-bg);
    border-color: var(--btn-hover-border-color);
  }

  &:focus-visible {
    color: var(--btn-hover-color);
    background: var(--btn-hover-bg);
    border-color: var(--btn-hover-border-color);
    outline: 0;
    box-shadow: var(--btn-focus-box-shadow);
  }

  &:active {
    color: var(--btn-active-color);
    background: var(--btn-active-bg);
    border-color: var(--btn-active-border-color);
  }

  &-lg {
    --btn-width: 100%;
    --btn-border-radius: 2.5rem;

    @include queries.md {
      --btn-width: auto;
      --btn-border-radius: 10rem;
    }

    &.btn-icon {
      .btn__icon {
        position: relative;
        top: -2px;
        width: 2.3rem;
        height: auto;
        object-fit: contain;
        vertical-align: middle;

        @include queries.xl {
          width: 2.5rem;
        }

        &:first-child {
          margin-right: 0.8rem;
        }

        &:last-child {
          margin-left: 0.8rem;
        }
      }
    }
  }

  &-sm {
    --btn-font-size: 1.2rem;
    --btn-font-weight: 400;
    --btn-padding-y: 0.9rem;
    --btn-padding-x: 1.2rem;
  }

  &-gradient-blue {
    --btn-bg: linear-gradient(90deg, #959FFF -6.23%, #B694FF 7.04%, #4203C2 22.72%, #1B014F 54.07%, #2E0289 68.55%, #B694FF 96.29%, #959FFF 114.38%);
    --btn-hover-bg: linear-gradient(90deg, #959FFF -6.23%, #B694FF 7.04%, #4203C2 22.72%, #1B014F 54.07%, #2E0289 68.55%, #B694FF 96.29%, #959FFF 114.38%);
    --btn-active-bg: linear-gradient(90deg, #959FFF -6.23%, #B694FF 7.04%, #4203C2 22.72%, #1B014F 54.07%, #2E0289 68.55%, #B694FF 96.29%, #959FFF 114.38%);
    --btn-box-shadow: -2px 3px 12.9px rgba(58, 2, 170, 0.29);
    --btn-border-width: 0;

    background-size: 200%;
    background-position-x: 0;

    @include mix.on-hover {
      background-size: 200%;
      background-position-x: 100%;
    }

    &.btn-lg {
      --btn-width: auto;
      --btn-padding-y: 1.5rem;
      --btn-padding-x: 3rem;
      --btn-font-size: 2.2rem;
      --btn-font-weight: 600;
      --btn-line-height: 1.18;

      @include queries.sm {
        --btn-padding-x: 4.5rem;
      }

      @include queries.xl {
        --btn-font-size: 2.4rem;
      }
    }
  }

  &-gradient-red {
    --btn-bg: linear-gradient(90deg, hsl(217, 77%, 44%) 3.67%, hsl(267, 84%, 65%) 46.68%, hsl(332, 68%, 62%) 80.18%, hsl(31, 100%, 72%) 109.84%);
    --btn-hover-bg: linear-gradient(90deg, hsl(217, 77%, 44%) 3.67%, hsl(267, 84%, 65%) 46.68%, hsl(332, 68%, 62%) 80.18%, hsl(31, 100%, 72%) 109.84%);
    --btn-active-bg: linear-gradient(90deg, hsl(217, 77%, 44%) 3.67%, hsl(267, 84%, 65%) 46.68%, hsl(332, 68%, 62%) 80.18%, hsl(31, 100%, 72%) 109.84%);
    --btn-border-width: 0;

    background-size: 100%;

    @include mix.on-hover {
      background-size: 200%;
    }

    &.btn-lg {
      --btn-width: auto;
      --btn-padding-y: 1rem;
      --btn-padding-x: 6rem;
      --btn-font-size: 1.6rem;
      --btn-font-weight: 500;
      --btn-line-height: 1.16;

      @include queries.lg {
        --btn-padding-y: 1.2rem;
        --btn-padding-x: 4.5rem;
        --btn-font-weight: 600;
      }

      @include queries.xl {
        --btn-padding-y: 1.3rem;
        --btn-padding-x: 5rem;
        --btn-font-size: 1.8rem;
      }

      @include queries.xxl {
        --btn-padding-y: 1.6rem;
        --btn-padding-x: 6rem;
        --btn-font-size: 2.2rem;
      }

      @include queries.xxxl {
        --btn-padding-y: 1.7rem;
        --btn-padding-x: 6.4rem;
        --btn-font-size: 2.3rem;
      }
    }
  }
}
