section.history#history
  .container
    h2.heading.history__heading.history__heading--max Твоя судьба в твоих руках. 
      span.heading__accent Сделай первый шаг!
    .history__block
      .history__decor.history__decor--max
        span.history__decor-pic.history__decor-pic--1
        span.history__decor-pic.history__decor-pic--2
        span.history__decor-pic.history__decor-pic--3
        span.history__decor-pic.history__decor-pic--4
        span.history__decor-pic.history__decor-pic--5
        span.history__decor-pic.history__decor-pic--6
      .history__block-inner
        p.history__pretitle Получи доступ к платформе и начни свой 
          span.history__pretitle-accent путь к осознанности уже сегодня!
    .cntrl.history__cntrl
      a.btn.btn-lg.btn-gradient-red(href="#!") Открыть своё будущее
