section.s-review#s-review
  .s-review__bg
  .container.s-review__container
    h2.heading.s-review__heading Реальные истории наших пользователей
    h3.s-review__title
      span.s-review__title-accent Истории реальных людей
      | , которые нашли ответы, обрели уверенность и 
      span.s-review__title-accent направили свою жизнь в лучшую сторону вместе с Трумен Ева
    .review-slider-wrapper.s-review__review-slider-wrapper
      .swiper.review-slider
        .swiper-wrapper
          .swiper-slide.review
            article.review__item
              picture.review__pic
                img(src="/assets/picture/review-01.jpg", alt="")
              .review__content
                h3.review__name Алина, 28 лет
                span.review__rating
                  span(style="width: 100%")
                p.review__comment Я не знала, куда двигаться, но сочетание психологии и нумерологии помогло мне понять свою миссию
          .swiper-slide.review
            article.review__item
              picture.review__pic
                img(src="/assets/picture/review-03.jpg", alt="")
              .review__content
                h3.review__name Екатерина, 35 лет
                span.review__rating
                  span(style="width: 90%")
                p.review__comment Практики с платформы избавили меня от тревоги. Теперь я понимаю знаки судьбы
          .swiper-slide.review
            article.review__item
              picture.review__pic
                img(src="/assets/picture/review-05.jpg", alt="")
              .review__content
                h3.review__name Нина, 24 года
                span.review__rating
                  span(style="width: 100%")
                p.review__comment Я не воспринимало таро всерьез, но вместе с работой с психологом я вышла из токсичных отношений
      .swiper-button-prev.review-slider-prev
      .swiper-button-next.review-slider-next
    .cntrl.s-review__cntrl
      a.btn.btn-lg.btn-gradient-red(href="#!") Создать свою историю
