section.services#services
  .container
    h2.heading.services__heading Вселенная говорит с тобой. Мы переводим её послания.
    .services__row
      .services__item
        picture.services__pic
          img(src="/assets/picture/services-01.jpg", alt="")
        p.services__name 200+ инструментов: дневники, трекеры, медитации
      .services__item
        picture.services__pic
          img(src="/assets/picture/services-02.jpg", alt="")
        p.services__name Эксперты на связи: психологи, тарологи, астрологи
      .services__item
        picture.services__pic
          img(src="/assets/picture/services-03.jpg", alt="")
        p.services__name Группы поддержки: сообщество единомышленников
          br
          | Анонимные чаты: безопасное пространство
      .services__item
        picture.services__pic
          img(src="/assets/picture/services-04.jpg", alt="")
        p.services__name Виртуальный психолог 24/7
    .cntrl.services__cntrl
      a.btn.btn-lg.btn-gradient-red(href="#!") Начать свою трансформацию
