section.after#after
  .container
    .after__inner
      h2.heading.heading--max.after__heading Не откладывай себя на потом
      p.after__sub-heading
        span Ты заслуживаешь быть услышанным.
        br
        | Установи TruMen Eva, и начни путь к себе с тем, кто 
        span поддержит
      .after__row
        a.badge.badge--mini.after__badge(href="#!" target="_blank")
          img.badge__img(src="/assets/picture/google_play_download.svg", alt="")
        a.badge.badge--mini.after__badge(href="#!" target="_blank")
          img.badge__img(src="/assets/picture/app_store_download.svg", alt="")