section.comment#comment
  .comment__decor
  .container.comment__container
    h2.heading.heading--max.comment__heading Что говорят те, кто уже попробовал
    .swiper.comment-slider
      .swiper-wrapper
        .swiper-slide.comment__slide
          h3.comment__slide-title
            svg
              use(xlink:href="#chat-icon-clear")
            span Марина, 23 года
          p.comment__slide-text
            span Я не знала, с чего начать. 
            | А психолог как будто 
            u провёл меня шаг за шагом, очень мягко, спокойно, 
            | с такой чуткостью и пониманием
        .swiper-slide.comment__slide
          h3.comment__slide-title
            svg
              use(xlink:href="#chat-icon-clear")
            span Михаил, 30 лет
          p.comment__slide-text Я пошёл на сессию, потому что 
            span не знал, как справиться один. 
            | Сейчас понимаю – 
            u это было лучшее решение, 
            | хотя было тяжело решиться
        .swiper-slide.comment__slide
          h3.comment__slide-title
            svg
              use(xlink:href="#chat-icon-clear")
            span Кира, 36 лет
          p.comment__slide-text
            span Впервые кто-то не пытался меня "чинить", 
            u а помог понять, 
            | что со мной происходит