section.details#details
  .details__decor
  .container.details__container
    h2.heading.heading--max.details__heading Как это работает
    .details__grid
      .details__item
        picture.details__icon
          img(src="/assets/picture/landing-8/details-01.svg", alt="")
        p.details__name Скачай приложение
      .details__item
        picture.details__icon
          img(src="/assets/picture/landing-8/details-02.svg", alt="")
        p.details__name Регистрация 
          span (не забудь указать запросы)
      .details__item
        picture.details__icon
          img(src="/assets/picture/landing-8/details-03.svg", alt="")
        p.details__name Получи подборку тех, кто подходит
      .details__item
        picture.details__icon
          img(src="/assets/picture/landing-8/details-04.svg", alt="")
        p.details__name Почитай про них, посмотри видео или отзывы
      .details__item
        picture.details__icon
          img(src="/assets/picture/landing-8/details-05.svg", alt="")
        p.details__name Выбери и запишись. Или начни с переписки.
    p.details__text Доступно в любое время
    .details__row
      a.badge.badge--mini.details__badge(href="#!" target="_blank")
        img.badge__img(src="/assets/picture/google_play_download.svg", alt="")
      a.badge.badge--mini.details__badge(href="#!" target="_blank")
        img.badge__img(src="/assets/picture/app_store_download.svg", alt="")