section.helper#helper
  .container.helper__container
    h2.heading.heading--max.helper__heading Мы поможем тебе выбрать того, кто подойдёт именно тебе
    .swiper.helper-slider
      .swiper-wrapper
        .swiper-slide.helper__slide
          h3.helper__slide-name Если тревожно и бессонница
          p.helper__slide-text – подойдёт специалист с опытом работы с тревожными расстройствами
          picture.helper__slide-image
            img(src="/assets/picture/landing-8/helper-01.png", alt="")
        .swiper-slide.helper__slide
          h3.helper__slide-name Не знаешь, что выбрать?
          p.helper__slide-text Расскажи, что чувствуешь и личный ассистент приложения предложит подходящий подход
          picture.helper__slide-image
            img(src="/assets/picture/landing-8/helper-02.png", alt="")
        .swiper-slide.helper__slide
          h3.helper__slide-name Если застряла в отношениях
          p.helper__slide-text  – можно выбрать того, кто мягко поможет распутать чувства или разложит всё по полочкам
          picture.helper__slide-image
            img(src="/assets/picture/landing-8/helper-03.png", alt="")
      p.helper__text Скачать TruMen Eva
      .helper__row
        a.badge.badge--mini.helper__badge(href="#!" target="_blank")
          img.badge__img(src="/assets/picture/google_play_download.svg", alt="")
        a.badge.badge--mini.helper__badge(href="#!" target="_blank")
          img.badge__img(src="/assets/picture/app_store_download.svg", alt="")