section.professional#professional
  .container.professional__container
    h2.heading.heading--max.professional__heading Профессионалы, которых мы отбираем лично
    .professional__inner
      .professional__item
        p.professional__text Только психологи, коучи и помогающие практики с образованием и опытом
        picture.professional__pic
          img(src="/assets/picture/landing-8/professional-01.png", alt="")
      .professional__item
        p.professional__text Дипломы и опыт обязательно проверяются
        picture.professional__pic
          img(src="/assets/picture/landing-8/professional-02.png", alt="")
      .professional__item
        p.professional__text Каждый проходит интервью и этическую проверку
        picture.professional__pic
          img(src="/assets/picture/landing-8/professional-03.png", alt="")
      .professional__item
        p.professional__text В карточке каждого: подход, стоимость, видео, отзывы
        picture.professional__pic
          img(src="/assets/picture/landing-8/professional-04.png", alt="")