section.single#single
  .single__header
    a.single__header-logo(href="/")
      img(src="/assets/picture/logo.svg", alt="")
  .single__decor
  .container.single__container
    .single__main
      h1.single__heading Ты не обязан 
        br
        | справляться в одиночку
      p.single__sub-heading Рядом есть люди, которые умеют слушать и поддерживать
      .single__bottom
        .single__row
          a.badge.badge--mini.single__badge(href="#!" target="_blank")
            img.badge__img(src="/assets/picture/google_play_download.svg", alt="")
          a.badge.badge--mini.single__badge(href="#!" target="_blank")
            img.badge__img(src="/assets/picture/app_store_download.svg", alt="")
        p.single__text Установи приложение и выбери своего психолога
  .single__media
    picture.single__image
      img(src="/assets/picture/landing-8/single-image.png", alt="")
    span.single__image-blur
    picture.single__card
      img(src="/assets/picture/landing-8/single-card.jpg", alt="")