section.history#history
  .history__bg
  .container
    h2.heading.history__heading Реальные истории наших пользователей
    .review-slider-wrapper.history__review-slider-wrapper
      .swiper.review-slider
        .swiper-wrapper
          .swiper-slide.review
            article.review__item
              picture.review__pic
                img(src="/assets/picture/review-01.jpg", alt="")
              .review__content
                h3.review__name Анна, 29 лет
                span.review__rating
                  span(style="width: 100%")
                p.review__comment С Trumen Eva я смогла преодолеть тревогу и найти поддержку
          .swiper-slide.review
            article.review__item
              picture.review__pic
                img(src="/assets/picture/review-02.jpg", alt="")
              .review__content
                h3.review__name Дмитрий, 35 лет
                span.review__rating
                  span(style="width: 90%")
                p.review__comment Теперь я регулярно отслеживаю настроение и эмоции, чувствую себя лучше.
          .swiper-slide.review
            article.review__item
              picture.review__pic
                img(src="/assets/picture/review-03.jpg", alt="")
              .review__content
                h3.review__name Мария, 23 года
                span.review__rating
                  span(style="width: 100%")
                p.review__comment Я стала высыпаться и наладила свои отношения с молодым человеком.
          .swiper-slide.review
            article.review__item
              picture.review__pic
                img(src="/assets/picture/review-04.jpg", alt="")
              .review__content
                h3.review__name Кирилл, 29 лет
                span.review__rating
                  span(style="width: 100%")
                p.review__comment Удобный подбор психолога, полезные аскезы и крутые медитации. Уже через месяц заметил, что тревожусь меньше и лучше понимаю себя.— это оно! 
          .swiper-slide.review
            article.review__item
              picture.review__pic
                img(src="/assets/picture/review-05.jpg", alt="")
              .review__content
                h3.review__name Инна, 24 года
                span.review__rating
                  span(style="width: 100%")
                p.review__comment Лучший сервис для работы над собой! Психолога подобрали идеально, а аскезы и медитации помогают справляться с тревогой
          .swiper-slide.review
            article.review__item
              picture.review__pic
                img(src="/assets/picture/review-06.jpg", alt="")
              .review__content
                h3.review__name Вика, 19 лет
                span.review__rating
                  span(style="width: 100%")
                p.review__comment Комплексный подход: терапия, аскезы, медитации. Стала увереннее, тревожусь меньше, жизнь стала проще.
      .swiper-button-prev.review-slider-prev
      .swiper-button-next.review-slider-next
    .history__block
      .history__decor
        span.history__decor-pic.history__decor-pic--1
        span.history__decor-pic.history__decor-pic--2
        span.history__decor-pic.history__decor-pic--3
        span.history__decor-pic.history__decor-pic--4
        span.history__decor-pic.history__decor-pic--5
        span.history__decor-pic.history__decor-pic--6
      .history__block-inner
        p.history__pretitle Присоединяйтесь к 
          span.history__pretitle-accent 1400+ счастливых пользователей
    .cntrl.history__cntrl
      a.btn.btn-lg.btn-gradient-red(href="#!" data-bs-target="modal-dga") Начать бесплатно
