section.problems#problems
  .problems__bg
  .container
    h2.heading.problems__heading Проблемы, которые ты решишь здесь
    .problems__row
      article.problems__item
        picture.problems__pic
          img(src="/assets/picture/problems-01.jpg", alt="")
        h3.problems__que Чувствуете стресс и тревогу?
        p.problems__text Практики от лучших психологов + 
          br
          | виртуальный психолог 24/7
      article.problems__item
        picture.problems__pic
          img(src="/assets/picture/problems-02.jpg", alt="")
        h3.problems__que Ощущаете одиночество?
        p.problems__text Закрытые сообщества, чаты поддержки, групповые терапевтические сессии и мероприятия
      article.problems__item
        picture.problems__pic
          img(src="/assets/picture/problems-03.jpg", alt="")
        h3.problems__que Хотите улучшить свою жизнь, но не знаете, с чего начать?
        p.problems__text 200+ инструментов самопомощи и трекеры привычек
    .review-slider-wrapper.problems__review-slider-wrapper
      .swiper.review-slider
        .swiper-wrapper
          .swiper-slide.review
            article.review__item
              picture.review__pic
                img(src="/assets/picture/review-01.jpg", alt="")
              .review__content
                h3.review__name Анна, 29 лет
                span.review__rating
                  span(style="width: 100%")
                p.review__comment С Trumen Eva я смогла преодолеть тревогу и найти поддержку
          .swiper-slide.review
            article.review__item
              picture.review__pic
                img(src="/assets/picture/review-02.jpg", alt="")
              .review__content
                h3.review__name Дмитрий, 35 лет
                span.review__rating
                  span(style="width: 90%")
                p.review__comment Теперь я регулярно отслеживаю настроение и эмоции, чувствую себя лучше.
          .swiper-slide.review
            article.review__item
              picture.review__pic
                img(src="/assets/picture/review-03.jpg", alt="")
              .review__content
                h3.review__name Мария, 23 года
                span.review__rating
                  span(style="width: 100%")
                p.review__comment Я стала высыпаться и наладила свои отношения с молодым человеком.
      .swiper-button-prev.review-slider-prev
      .swiper-button-next.review-slider-next
