section.click#click
  .container
    .click__top
      h2.heading.heading--max.click__heading  Вот как это выглядит в приложении
      p.click__sub-heading Интерфейс понятный, 
        span присоединиться можно
      p.click__sub-title в 1 клик
    .swiper.click-slider
      .swiper-wrapper
        .swiper-slide.click__slide
          picture.click__slide-image
            img(src="/assets/picture/landing6/click-01.png", alt="")
        .swiper-slide.click__slide
          picture.click__slide-image
            img(src="/assets/picture/landing6/click-02.png", alt="")
        .swiper-slide.click__slide
          picture.click__slide-image
            img(src="/assets/picture/landing6/click-03.png", alt="")