section.effective#effective
  .effective__decor
  .container.effective__container
    h2.heading.heading--max.effective__heading Почему это безопасно и эффективно
    .effective__grid
      .effective__item
        picture.effective__pic
          img(src="/assets/picture/landing6/effective-01.svg", alt="")
        p.effective__name Никаких оценок, 
          br
          | только поддержка и забота
      .effective__item
        picture.effective__pic
          img(src="/assets/picture/landing6/effective-02.svg", alt="")
        p.effective__name Ведут только профессионалы 
          br
          | с опытом
      .effective__item
        picture.effective__pic
          img(src="/assets/picture/landing6/effective-03.svg", alt="")
        p.effective__name Можно не говорить, 
          br
          | а просто слушать других
      .effective__item
        picture.effective__pic
          img(src="/assets/picture/landing6/effective-04.svg", alt="")
        p.effective__name Удобно 
          br
          | и даже бесплатно
    .effective__row
      a.badge.badge--mini.effective__badge(href="#!" target="_blank")
        img.badge__img(src="/assets/picture/google_play_download.svg", alt="")
      a.badge.badge--mini.effective__badge(href="#!" target="_blank")
        img.badge__img(src="/assets/picture/app_store_download.svg", alt="")