section.events#events
  .container.events__container
    h2.heading.heading--max.events__heading Встречи, которые помогают
    .swiper.events-slider
      .swiper-wrapper
        article.swiper-slide.e-slide.events__slide
          picture.e-slide__picture
            img(src="/assets/picture/landing6/events-01.jpg", alt="")
          .e-slide__main
            h3.e-slide__name Как пережить тревогу и не утонуть в мыслях
            .e-slide__list
              .e-slide__item
                svg.e-slide__icon
                  use(xlink:href="#timer-icon")
                p.e-slide__text Вторник 14:00
              .e-slide__item
                svg.e-slide__icon
                  use(xlink:href="#coin-bag-icon")
                p.e-slide__text Бесплатная
              .e-slide__item
                svg.e-slide__icon
                  use(xlink:href="#msg-sharp-icon")
                ul.e-slide__tags
                  li.e-slide__tags-item Тревожность
                  li.e-slide__tags-item Самооценка
                  li.e-slide__tags-item Депрессия
                  li.e-slide__tags-item Чувство вины
                  li.e-slide__tags-item Отношения с партнером
        article.swiper-slide.e-slide.events__slide
          picture.e-slide__picture
            img(src="/assets/picture/landing6/events-02.jpg", alt="")
          .e-slide__main
            h3.e-slide__name Что делать, если я всегда «удобный»
            .e-slide__list
              .e-slide__item
                svg.e-slide__icon
                  use(xlink:href="#timer-icon")
                p.e-slide__text 30 июня, понедельник 13:00
              .e-slide__item
                svg.e-slide__icon
                  use(xlink:href="#coin-bag-icon")
                p.e-slide__text Бесплатная
              .e-slide__item
                svg.e-slide__icon
                  use(xlink:href="#msg-sharp-icon")
                ul.e-slide__tags
                  li.e-slide__tags-item Стресс
                  li.e-slide__tags-item Тревожность
                  li.e-slide__tags-item Самооценка
                  li.e-slide__tags-item Отношения с семьей
        article.swiper-slide.e-slide.events__slide
          picture.e-slide__picture
            img(src="/assets/picture/landing6/events-03.jpg", alt="")
          .e-slide__main
            h3.e-slide__name Одиночество: как быть, когда никто не рядом
            .e-slide__list
              .e-slide__item
                svg.e-slide__icon
                  use(xlink:href="#timer-icon")
                p.e-slide__text 30 июня, понедельник 13:00
              .e-slide__item
                svg.e-slide__icon
                  use(xlink:href="#coin-bag-icon")
                p.e-slide__text Бесплатная
              .e-slide__item
                svg.e-slide__icon
                  use(xlink:href="#msg-sharp-icon")
                ul.e-slide__tags
                  li.e-slide__tags-item Одиночество
                  li.e-slide__tags-item Стресс
                  li.e-slide__tags-item Тревожность
                  li.e-slide__tags-item Самооценка
                  li.e-slide__tags-item Страх
        article.swiper-slide.e-slide.events__slide
          picture.e-slide__picture
            img(src="/assets/picture/landing6/events-04.jpg", alt="")
          .e-slide__main
            h3.e-slide__name Как выйти из выгорания и снова хотеть жить
            .e-slide__list
              .e-slide__item
                svg.e-slide__icon
                  use(xlink:href="#timer-icon")
                p.e-slide__text 30 июня, понедельник 13:00
              .e-slide__item
                svg.e-slide__icon
                  use(xlink:href="#coin-bag-icon")
                p.e-slide__text Бесплатная
              .e-slide__item
                svg.e-slide__icon
                  use(xlink:href="#msg-sharp-icon")
                ul.e-slide__tags
                  li.e-slide__tags-item Выгорание
                  li.e-slide__tags-item Потеря смысла жиизни
                  li.e-slide__tags-item Тревожность
                  li.e-slide__tags-item Самооценка
                  li.e-slide__tags-item Страх
