section.services.services--mini#services
  .container
    h2.heading.services__heading Что такое групповые комнаты?
    .services__row
      .services__item
        picture.services__pic
          img(src="/assets/picture/landing6/services-01.jpg", alt="")
        p.services__name Каждый день новые темы и новые встречи
      .services__item
        picture.services__pic
          img(src="/assets/picture/landing6/services-02.jpg", alt="")
        p.services__name Можно говорить, писать в чат или просто слушать
      .services__item
        picture.services__pic
          img(src="/assets/picture/landing6/services-03.jpg", alt="")
        p.services__name Живой онлайн-разговор в приложении
      .services__item
        picture.services__pic
          img(src="/assets/picture/landing6/services-04.jpg", alt="")
        p.services__name Ведут эмпатичные специалисты: психолог, коуч
    .cntrl.services__cntrl
      p.services__text Если не нашёл свою тему сегодня – загляни завтра. 
        span.services__text-accent Темы обновляются каждую неделю
      .services__badges
        a.badge.badge--mini.services__badge(href="#!" target="_blank")
          img.badge__img(src="/assets/picture/google_play_download.svg", alt="")
        a.badge.badge--mini.services__badge(href="#!" target="_blank")
          img.badge__img(src="/assets/picture/app_store_download.svg", alt="")