section.talk#talk
  .talk__header
    a.talk__header-logo(href="/")
      img(src="/assets/picture/logo.svg", alt="")
  .talk__decor
  .container.talk__container
    .talk__main
      h1.talk__heading Поговори с психологом бесплатно и без записи
      p.talk__sub-heading Каждый день в приложении TruMen Eva проходят живые встречи с профессионалами
      p.talk__text Можно говорить, писать в чат или просто слушать
      .talk__row
        a.badge.badge--mini.talk__badge(href="#!" target="_blank")
          img.badge__img(src="/assets/picture/google_play_download.svg", alt="")
        a.badge.badge--mini.talk__badge(href="#!" target="_blank")
          img.badge__img(src="/assets/picture/app_store_download.svg", alt="")
    .talk__media
      span.talk__label Выгорание
      span.talk__label Тревожность
      span.talk__label Отношения
      span.talk__label и другие темы
      span.talk__label Одиночество
      picture.talk__image
        img(src="/assets/picture/landing6/talk-image.png", alt="")