section.ai#ai
  .ai__header
    a.ai__header-logo(href="/")
      img(src="/assets/picture/logo.svg", alt="")
  .ai__decor
  .container.ai__container
    .ai__main
      h1.ai__heading Поговори с ИИ‑психологом 
        span бесплатно прямо сейчас
      p.ai__sub-heading 5 бесплатных сообщений для новых пользователей
      .ai__cntrl
        a.btn.btn-lg.btn-gradient-red.ai__btn(href="#chance") Попробовать бесплатно
    picture.ai__image
      img(src="/assets/picture/landing-7/ai-image.png", alt="")