section.asks#asks
  .asks__decor
  .container.asks__container
    .asks__wrapper
      .asks__inner.asks__inner--reviews
        h2.heading.asks__heading Отзывы
        .asks__reviews
          .asks__reviews-item
            span.review__rating.asks__reviews-rating
              span(style="width: 100%")
            .asks__reviews-text
              p Писала ночью, а ИИ ответил без лишних клише советов, стало спокойнее
          .asks__reviews-item
            span.review__rating.asks__reviews-rating
              span(style="width: 100%")
            .asks__reviews-text
              p Общение конфиденциальное, словно сессия у реального психолог – очень быстро получила поддержку
      .asks__inner.asks__inner--faq
        h2.heading.asks__heading Частые вопросы
        .asks__faqs
          .asks__faqs-item
            h4.asks__faqs-name Нужно ли регистрироваться?
            .asks__faqs-text
              p Да, чтобы твои сообщения были только у тебя.
          .asks__faqs-item
            h4.asks__faqs-name Это точно бесплатно?
            .asks__faqs-text
              p Да, 5 сообщений с ИИ‑психологом – бесплатно для новых пользователей.
          .asks__faqs-item
            h4.asks__faqs-name Что ещё есть в приложении?
            .asks__faqs-text
              p Групповые и индивидуальные сессии, профессиональные специалисты, анонимная поддержка по вашим запросам, инструменты самопознания (медитации, дневник настроения, тесты и пр.). Все базовые функции бесплатны.