section.chance#chance
  .container.chance__container
    .chance__inner
      picture.chance__image
        img(src="/assets/picture/landing-7/chance-image.png", alt="")
      .chance__main
        h2.heading.chance__heading Не теряй шанс!
        p.chance__sub-heading Попробуй поддержку ИИ‑психолога 
          a(href="#!") бесплатно – скачай приложение сейчас
        .chance__row
          a.badge.badge--mini.chance__badge(href="#!" target="_blank")
            img.badge__img(src="/assets/picture/google_play_download.svg", alt="")
          a.badge.badge--mini.chance__badge(href="#!" target="_blank")
            img.badge__img(src="/assets/picture/app_store_download.svg", alt="")