section.how#how
  .container.how__container
    h2.heading.how__heading Как это работает?
    .swiper.how-slider
      .how__decor
      .swiper-wrapper
        .swiper-slide.how__slide
          p.how__slide-text Скачай приложение 
            br
            | TruMen Eva
          picture.how__slide-image
            img(src="/assets/picture/landing-7/how-01.png", alt="")
        .swiper-slide.how__slide
          p.how__slide-text Зарегистрируйся 
            br
            | (это займёт 1 минуту)
          picture.how__slide-image
            img(src="/assets/picture/landing-7/how-02.png", alt="")
        .swiper-slide.how__slide
          p.how__slide-text Получи 5 бесплатных сообщений с ИИ‑психологом
          picture.how__slide-image
            img(src="/assets/picture/landing-7/how-03.png", alt="")
      .how__row
        a.badge.badge--mini.how__badge(href="#!" target="_blank")
          img.badge__img(src="/assets/picture/google_play_download.svg", alt="")
        a.badge.badge--mini.how__badge(href="#!" target="_blank")
          img.badge__img(src="/assets/picture/app_store_download.svg", alt="")
      p.how__text Анонимно и бесплатно