section.prop#prop
  picture.prop__decor-1
    img(src="/assets/images/promo-decor.svg", alt="")
  picture.prop__decor-2
    img(src="/assets/images/promo-decor.svg", alt="")
  .container.prop__container
    .prop__inner
      h2.heading.heading--max.prop__heading Какие медитации ты найдешь в приложении?
      ul.prop__list
        li.prop__item
          span 20+ медитаций: стресс, усталость, тревожность, энергия, сон
        li.prop__item
          span Сохраняй любимые и создавай свой ресурсный плейлист
        li.prop__item
          span Можно слушать где угодно: дома, на работе, в дороге
        li.prop__item
          span Доступ ко всем практикам без ограничений
      .prop__row
        a.badge.badge--mini.prop__badge(href="#!" target="_blank")
          img.badge__img(src="/assets/picture/google_play_download.svg", alt="")
        a.badge.badge--mini.prop__badge(href="#!" target="_blank")
          img.badge__img(src="/assets/picture/app_store_download.svg", alt="")