@use '../../inc/mixins/breakpoints' as media;
@use '../../inc/mixins/patterns' as pat;

.wild {
  position: relative;
  z-index: 1;

  &__heading {
    &:not(:last-child) {
      @include media.md {
        margin-bottom: 1rem;
      }

      @include media.xl {
        margin-bottom: 1.4rem;
      }

      @include media.xxl {
        margin-bottom: 1.8rem;
      }

      @include media.xxxl {
        margin-bottom: 2rem;
      }
    }
  }

  &__sub-heading {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: calc( 17 / 14 );
    text-align: center;
    margin-bottom: 0;

    @include media.md {
      font-size: 1.6rem;
    }

    @include media.xl {
      font-size: 1.8rem;
    }

    @include media.xxl {
      font-size: 2rem;
    }

    @include media.xxxl {
      font-size: 2.4rem;
    }

    &:not(:last-child) {
      margin-bottom: var(--mb-heading, 2rem);
    }
  }

  &__block {
    --br-block: 12px;

    position: relative;
    overflow: hidden;
    border-radius: var(--br-block);
    background-image: linear-gradient(90.53deg, rgba(210, 165, 245, 0.98) -7.36%, rgba(246, 244, 255, 0.98) 50.82%, rgba(226, 210, 252, 0.98) 79.29%, rgba(55, 124, 255, 0.98) 116.42%);

    padding: 3.1rem 0 2rem;

    @include media.md {
      --br-block: 10px;

      padding: 0 6rem 0 3.4rem;
    }

    @include media.lg {
      padding: 0 8.5rem 0 4.4rem;
    }

    @include media.xl {
      --br-block: 16px;

      padding: 0 10.4rem 0 5rem;
    }

    @include media.xxl {
      --br-block: 20px;

      padding: 0 10.8rem 0 6.1rem;
    }

    @include media.xxxl {
      --br-block: 22px;

      padding: 0 12.2rem 0 6.6rem;
    }

    &:not(:last-child) {
      margin-bottom: 1.4rem;

      @include media.md {
        margin-bottom: 2rem;
      }

      @include media.lg {
        margin-bottom: 2.5rem;
      }
    }

    &-border {
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    &-bg {
      position: absolute;
      z-index: 2;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.4;
      display: none;

      @include media.lg {
        display: block;
      }

      &::before,
      &::after {
        position: absolute;
        content: '';
        display: block;
        background-image: url('../images/promo-decor.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% 100%;
        aspect-ratio: 1 / 1;
        opacity: 0.7;
      }

      &::before {
        bottom: -7.58%;
        left: -21.26%;
        width: 34.21%;
        transform: rotate(-15deg) scaleY(-1);
      }

      &::after {
        top: -39.4%;
        right: -16.31%;
        width: 41.9%;
        transform: rotate(30deg) scale(-1, -1);
      }
    }

    &-content {
      position: relative;
      z-index: 3;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;

      overflow: hidden;

      @include media.md {
        flex-direction: row;
        justify-content: space-between;
      }

      @include media.xl {
        gap: 3.5rem;
      }
    }

    &-left-side {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;

      @include media.md {
        gap: 0.8rem;
        padding: 3rem 0;
      }

      @include media.lg {
        gap: 1.3rem;
        padding: 4.2rem 0;
      }

      @include media.xl {
        gap: 1.5rem;
        padding: 4.7rem 0;
      }

      @include media.xxl {
        gap: 1.8rem;
        padding: 6rem 0;
      }

      @include media.xxxl {
        gap: 2rem;
        padding: 6.5rem 0;
      }
    }

    &-pre-title,
    &-title {
      text-align: center;
      font-weight: 600;
      color: var(--color-base);
      padding: 0 1rem;
      margin: 0;

      @include media.md {
        text-align: left;
        padding: 0;
      }
    }

    &-pre-title {
      font-size: 1.1rem;
      line-height: calc( 13 / 11 );

      @include media.md {
        font-size: 1.4rem;
        line-height: calc( 21 / 18 );
      }

      @include media.lg {
        font-size: 1.8rem;
      }

      @include media.xl {
        font-size: 2rem;
      }

      @include media.xxl {
        font-size: 2.5rem;
      }

      @include media.xxxl {
        font-size: 2.7rem;
      }
    }

    &-title {
      font-size: 1.6rem;
      line-height: calc( 19 / 16 );

      @include media.md {
        font-size: 1.8rem;
        line-height: calc( 26 / 22 );
      }

      @include media.lg {
        font-size: 2.2rem;
      }

      @include media.xl {
        font-size: 2.4rem;
      }

      @include media.xxl {
        font-size: 2.9rem;
      }

      @include media.xxxl {
        font-size: 3.1rem;
      }
    }

    &-slider {
      width: 19.1rem;
      overflow: visible;

      @include media.sm {
        width: 25.6rem;
      }

      @include media.md {
        width: 19.1rem;
        height: 5rem;
        margin: 0;
      }

      @include media.xl {
        width: 20.8rem;
        height: 6.6rem;
      }

      @include media.xxl {
        width: 26.9rem;
        height: 8.4rem;
      }

      @include media.xxxl {
        width: 28.2rem;
        height: 8.9rem;
      }

      &>.swiper-wrapper {
        width: 100%;
        align-items: center;
      }
    }
  }
}