section.anonym#anonym
  .container.anonym__container
    h2.heading.heading--max.anonym__heading Что говорят пользователи
    .swiper.anonym-slider
      .swiper-wrapper
        .swiper-slide.anonym__slide
          h3.anonym__slide-title
            svg
              use(xlink:href="#chat-icon")
            span Анонимный отзыв
          p.anonym__slide-text
            span Всего 7 минут и я спокойнее. 
            | Даже не ожидала такой эффект
        .swiper-slide.anonym__slide
          h3.anonym__slide-title
            svg
              use(xlink:href="#chat-icon")
            span Анонимный отзыв
          p.anonym__slide-text Включаю перед сном, 
            span тревожность ушла, и я, наконец, засыпаю!
        .swiper-slide.anonym__slide
          h3.anonym__slide-title
            svg
              use(xlink:href="#chat-icon")
            span Анонимный отзыв
          p.anonym__slide-text Слушаю по дороге на работу, 
            span всегда спасает
        .swiper-slide.anonym__slide
          h3.anonym__slide-title
            svg
              use(xlink:href="#chat-icon")
            span Анонимный отзыв
          p.anonym__slide-text
            span Всего 7 минут и я спокойнее. 
            | Даже не ожидала такой эффект
        .swiper-slide.anonym__slide
          h3.anonym__slide-title
            svg
              use(xlink:href="#chat-icon")
            span Анонимный отзыв
          p.anonym__slide-text Включаю перед сном, 
            span тревожность ушла, и я, наконец, засыпаю!
        .swiper-slide.anonym__slide
          h3.anonym__slide-title
            svg
              use(xlink:href="#chat-icon")
            span Анонимный отзыв
          p.anonym__slide-text Слушаю по дороге на работу, 
            span всегда спасает