section.care#care
  .container
    .care__decor
    .care__inner
      h2.heading.heading--max.care__heading Начни заботу о себе уже сегодня
      p.care__sub-heading Установи приложение TruMen Eva и 
        a(href="#!") получи доступ ко всем практикам
      .care__row
        a.badge.badge--mini.care__badge(href="#!" target="_blank")
          img.badge__img(src="/assets/picture/google_play_download.svg", alt="")
        a.badge.badge--mini.care__badge(href="#!" target="_blank")
          img.badge__img(src="/assets/picture/app_store_download.svg", alt="")