section.escape#escape
  .escape__header
    a.escape__header-logo(href="/")
      img(src="/assets/picture/logo.svg", alt="")
  picture.escape__decor
    img(src="/assets/images/promo-decor.svg", alt="")
  .container.escape__container
    .escape__top
      h1.escape__heading Освободись от тревоги 
        span за 10 минут
      p.escape__sub-heading Научно обоснованные медитации, которые быстро возвращают ресурс и спокойствие
    picture.escape__image
      img(src="/assets/picture/landing5-new/escape-image.png", alt="")
    .escape__bottom
      p.escape__text Доступно в приложении TruMen Eva
      .escape__row
        a.badge.badge--mini.escape__badge(href="#!" target="_blank")
          img.badge__img(src="/assets/picture/google_play_download.svg", alt="")
        a.badge.badge--mini.escape__badge(href="#!" target="_blank")
          img.badge__img(src="/assets/picture/app_store_download.svg", alt="")