section.find#find
  .container.find__container
    h2.heading.heading--max.find__heading Какие медитации ты найдешь в приложении?
    .find__grid
      .find__item
        picture.find__image
          img(src="/assets/picture/landing5-new/find-01.jpg", alt="")
        p.find__text Медитация на снятие стресса
      .find__item
        picture.find__image
          img(src="/assets/picture/landing5-new/find-02.jpg", alt="")
        p.find__text Медитация на расслабление и восстановление сна
      .find__item
        picture.find__image
          img(src="/assets/picture/landing5-new/find-03.jpg", alt="")
        p.find__text Медитация по наполнению энергией
      .find__item
        picture.find__image
          img(src="/assets/picture/landing5-new/find-04.jpg", alt="")
        p.find__text Медитация на уверенность в себе
      .find__item
        picture.find__image
          img(src="/assets/picture/landing5-new/find-05.jpg", alt="")
        p.find__text Звукотерапия с частотами природы
    p.find__sub-text Практики, которые работают 
      span с первых минут
    .find__row
      a.badge.badge--mini.find__badge(href="#!" target="_blank")
        img.badge__img(src="/assets/picture/google_play_download.svg", alt="")
      a.badge.badge--mini.find__badge(href="#!" target="_blank")
        img.badge__img(src="/assets/picture/app_store_download.svg", alt="")