section.meditation#meditation
  .container
    h2.heading.meditation__heading Попробуйте прямо сейчас — 
      br
      | 2 медитации без регистрации!
    p.meditation__sub-title Получите доступ к медитациям, которые 
      span.meditation__sub-title-accent помогут снять стресс и наполниться энергией за 10 минут.
    .meditation__row
      .meditation__item
        picture.meditation__pic
          img(src="/assets/picture/landing5/meditation-01.jpg", alt="")
        p.meditation__text
          img(src="/assets/picture/landing5/icon-05.png", alt="")
          | Медитация на снятие стресса
        svg.meditation__like
          use(xlink:href="#like-icon")
      .meditation__item
        picture.meditation__pic
          img(src="/assets/picture/landing5/meditation-02.jpg", alt="")
        p.meditation__text
          img(src="/assets/picture/landing5/icon-06.png", alt="")
          | Медитация по наполнению энергией
        svg.meditation__like
          use(xlink:href="#like-icon")
    .cntrl.meditation__cntrl
      a.btn.btn-lg.btn-gradient-red(href="#!") Слушать бесплатно
