section.services#services
  .services__bg
  .container
    h2.heading.services__heading На платформе Трумен Ева ты найдешь:
    .services__row
      .services__item
        picture.services__pic.services__pic--height
          img(src="/assets/picture/landing5/services-01.jpg", alt="")
        p.services__name
          img(src="/assets/picture/landing5/icon-01.png", alt="")
          | 17 медитаций для качественного сна, 
          br
          | спокойствия и концентрации
      .services__item
        picture.services__pic.services__pic--height
          img(src="/assets/picture/landing5/services-02.jpg", alt="")
        p.services__name
          img(src="/assets/picture/landing5/icon-02.png", alt="")
          | Срочные медитации от тревоги, усталости и негатива
      .services__item
        picture.services__pic.services__pic--height
          img(src="/assets/picture/landing5/services-03.jpg", alt="")
        p.services__name
          img(src="/assets/picture/landing5/icon-03.png", alt="")
          | Звукотерапия с целебными звуками природы и специальными частотами
      .services__item
        picture.services__pic.services__pic--height
          img(src="/assets/picture/landing5/services-04.jpg", alt="")
        p.services__name
          img(src="/assets/picture/landing5/icon-04.png", alt="")
          | Мантры для очищения разума и наполнения энергией
    .cntrl.services__cntrl
      p.services__text Практики для тех, кто хочет 
        span.services__text-accent быстро восстановить силы, снизить уровень тревоги, почувствовать спокойствие и гармонию.
      a.btn.btn-lg.btn-gradient-red(href="#!") Слушать сейчас
