section.view#view
  .container
    .view__top
      h2.heading.heading--max.view__heading  Вот как это выглядит в приложении
      p.view__sub-heading Удобный и понятный интерфейс — 
        span выбери практику и сразу слушай
    .swiper.view-slider
      .swiper-wrapper
        .swiper-slide.view__slide
          p.view__slide-text Выбери практику под своё состояние
          picture.view__slide-image
            img(src="/assets/picture/landing5-new/view-01.png", alt="")
        .swiper-slide.view__slide
          p.view__slide-text Добавляй в избранное, чтобы не потерять
          picture.view__slide-image
            img(src="/assets/picture/landing5-new/view-02.png", alt="")
        .swiper-slide.view__slide
          p.view__slide-text Удобный плеер и понятные разделы
          picture.view__slide-image
            img(src="/assets/picture/landing5-new/view-03.png", alt="")
      p.view__text Нажми и слушай без регистрации
      .view__row
        a.badge.badge--mini.view__badge(href="#!" target="_blank")
          img.badge__img(src="/assets/picture/google_play_download.svg", alt="")
        a.badge.badge--mini.view__badge(href="#!" target="_blank")
          img.badge__img(src="/assets/picture/app_store_download.svg", alt="")