section.why#why
  picture.why__decor--1
    img(src="/assets/images/why-decor.svg", alt="")
  picture.why__decor--2
    img(src="/assets/images/promo-decor.svg", alt="")
  .why__circle
  .container.why__container
    h2.heading.heading--max.why__heading Почему это действительно помогает
    .why__wrapper
      picture.why__image
        img(src="/assets/picture/landing5-new/why-image.png", alt="")
      ul.why__list
        li.why__item
          span Практики 
            span запускают парасимпатическую нервную систему
        li.why__item
          span
            span Снижают уровень кортизола 
            | (гормона стресса)
        li.why__item
          span Помогают 
            span переключиться из режима тревоги
        li.why__item
          span Улучшают 
            span концентрацию и осознанность
        li.why__item
          span Укрепляют 
            span психическую гибкость
    .why__row
      a.badge.badge--mini.why__badge(href="#!" target="_blank")
        img.badge__img(src="/assets/picture/google_play_download.svg", alt="")
      a.badge.badge--mini.why__badge(href="#!" target="_blank")
        img.badge__img(src="/assets/picture/app_store_download.svg", alt="")