@use '../../../inc/mixins/breakpoints' as media;
@use '../../../inc/mixins/patterns' as pattern;

.instruments {
  &__slider {
    --slider-marg: 2rem;

    margin: calc(var(--slider-marg) * -1) 0;

    &:not(:last-child) {
      margin-bottom: calc(4rem - var(--slider-marg));

      @include media.lg {
        margin-bottom: calc(2.5rem - var(--slider-marg));
      }

      @include media.xl {
        margin-bottom: calc(3rem - var(--slider-marg));
      }

      @include media.xxl {
        margin-bottom: calc(3.5rem - var(--slider-marg));
      }

      @include media.xxxl {
        margin-bottom: calc(4rem - var(--slider-marg));
      }
    }

    &>.swiper {
      padding-top: var(--slider-marg);
      padding-bottom: var(--slider-marg);
    }
  }

  &__slide {
    height: auto;

    position: relative;
    overflow: hidden;

    color: var(--color-dark);
    background: var(--color-light);
    box-shadow: 0px 2px 22.1px var(--color-shadow-gray);
    border-radius: 2.4rem;

    padding: 2rem;

    opacity: 0;
    transition: all var(--timing-ease);

    @include media.xl {
      border-radius: 2.7rem;
      padding: 2.25rem;
    }

    @include media.xxl {
      border-radius: 3.3rem;
      padding: 2.7rem;
    }

    @include media.xxxl {
      border-radius: 3.6rem;
      padding: 3rem;
    }

    &.swiper-slide-active {
      opacity: 1;

      @include media.md {
        &+.swiper-slide {
          opacity: 1;
        }
      }

      @include media.lg {
        &+.swiper-slide+.swiper-slide {
          opacity: 1;
        }
      }
    }

    &--circle {
      .instruments {
        &__pic {
          &::after {
            position: absolute;
            content: '';
            top: 0.7rem;
            right: 3.3rem;
            width: 4.5rem;
            aspect-ratio: 1 / 1;
            border-radius: 50%;
            background-color: var(--color-base-light);
            filter: blur(27.5px);

            @include media.xl {
              top: 0.8rem;
              right: 3.7rem;
              width: 5rem;
            }

            @include media.xxl {
              top: 1rem;
              right: 4.5rem;
              width: 6.2rem;
            }

            @include media.xxxl {
              right: 4.8rem;
              width: 6.7rem;
            }
          }
        }
      }
    }

    &--decor {
      &-left {
        &::before {
          position: absolute;
          content: '';
          z-index: 1;
          display: block;
          top: -99%;
          left: -53%;
          width: 78%;
          background-image: url('../images/promo-decor.svg');
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 100% 100%;
          aspect-ratio: 1 / 1;
          opacity: 0.3;
          transform: rotate(105deg);
        }
      }

      &-right {
        &::after {
          position: absolute;
          content: '';
          z-index: 1;
          display: block;
          top: -100%;
          right: -20%;
          width: 78%;
          background-image: url('../images/promo-decor.svg');
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 100% 100%;
          aspect-ratio: 1 / 1;
          opacity: 0.3;
          transform: scale(-1, 1) rotate(105deg);

          @include media.xxl {
            top: -106%;
            right: -19%;
          }
        }
      }
    }
  }

  &__item {
    position: relative;
    z-index: 2;

    max-width: 100%;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &__pic {
    position: relative;
    display: block;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 100%;
    height: auto;

    @include media.md-max {
      &::before {
        content: '';
        display: table;
        padding-bottom: 22.02%;
      }
    }

    @include media.md {
      height: 5.6rem;
    }

    @include media.xl {
      height: 6rem;
    }

    @include media.xxl {
      height: 7.5rem;
    }

    @include media.xxxl {
      margin-bottom: 0.9rem;
      height: 8.1rem;
    }

    &>img {
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 100%;
      width: 100%;
      max-height: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center center;
    }
  }

  &__text {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: calc(17 / 14);
    text-align: center;

    margin: 0;

    @include media.xl {
      font-size: 1.6rem;
    }

    @include media.xxl {
      font-size: 2rem;
    }

    @include media.xxxl {
      font-size: 2.2rem;
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-text {
      max-width: 25.6rem;
      width: 100%;
      font-weight: 600;
      font-size: 1.8rem;
      line-height: calc(21 / 18);
      text-align: center;

      color: var(--color-dark);

      margin: 0;
      @include pattern.not-last-margin;

      @include media.sm {
        max-width: none;
      }

      @include media.lg {
        font-size: 2rem;
      }

      @include media.xl {
        font-size: 2.2rem;
      }

      @include media.xxl {
        font-size: 2.7rem;
      }

      @include media.xxxl {
        font-size: 3rem;
      }

      &-accent {
        color: var(--color-base);
      }
    }

    &-row {
      max-width: 36rem;
      width: 100%;

      display: flex;
      align-items: stretch;
      justify-content: space-between;

      @include media.lg {
        justify-content: center;
        max-width: 45.5rem;
      }

      @include media.xl {
        max-width: 52rem;
      }

      @include media.xxl {
        max-width: 65rem;
      }

      @include media.xxxl {
        max-width: 70rem;
      }
    }

    &-badge {
      &:not(:last-child) {
        margin-right: 1rem;

        @include media.xl {
          margin-right: 1.2rem;
        }

        @include media.xxl {
          margin-right: 1.7rem;
        }

        @include media.xxxl {
          margin-right: 1.6rem;
        }
      }
    }
  }
}
