.menu {
  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }

    &--has-sub {
      display: inline-flex;
      align-items: center;

      &::after {
        content: '';
        display: block;
        margin-left: 8px;
        width: 7px;
        height: 7px;
        border-style: solid;
        border-width: 1px 1px 0 0;
        border-color: var(--color-light);
        transform: rotate(135deg);
      }
    }
  }

  &__link {
    color: var(--color-light);
    transition: var(--timing-ease-color);

    &:hover {
      color: var(--color-dark);
    }

    &--current {
      text-decoration: underline;
    }
  }
}

.sub-menu {
  &__list {
    display: none;
  }
}

.menu-toggle {
  position: relative;
  width: 1.5em;
  height: 1.125em;

  &>span {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 0.125em;
    background-color: #fff;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      top: 8px;
    }

    &:nth-child(3) {
      top: 16px;
    }
  }
}
