@use '../../inc/mixins/breakpoints' as media;

@forward 'f-slide';
@forward 'f-masonry';
@forward '../future/f-cat';

.first {
  position: relative;

  max-width: 100%;

  box-sizing: border-box;
  overflow: hidden;

  background: var(--gradient-bw-horizontal);

  padding: 5rem 0 2.4rem;

  @include media.md {
    padding: 6.15rem 0 2.6rem;
  }

  @include media.lg {
    padding: 7.3rem 0 2.8rem;
  }

  @include media.xl {
    padding: 8.2rem 0 3rem;
  }

  @include media.xxl {
    padding: 10.1rem 0 3.8rem;
  }

  @include media.xxxl {
    padding: 10.9rem 0 4.2rem;
  }

  &__line {
    top: 1.2rem;

    @include media.lg {
      top: 2rem;
    }

    @include media.xl {
      top: 2.2rem;
    }

    @include media.xxl {
      top: 2.7rem;
    }

    @include media.xxxl {
      top: 3rem;
    }
  }

  &__container {
    @include media.lg {
      --container-max-width: 192rem;
      --container-padding-x: 3.6rem;
    }

    @include media.xl {
      --container-padding-x: 3.7rem;
    }

    @include media.xxl {
      --container-padding-x: 4.8rem;
    }

    @include media.xxxl {
      --container-padding-x: 5rem;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: calc(21 / 18);

    color: var(--color-base);
    margin: 0;

    @include media.sm {
      font-size: 2.2rem;
    }

    @include media.md {
      font-size: 2.6rem;
    }

    @include media.lg {
      font-size: 3rem;
    }

    @include media.xl {
      font-size: 3.4rem;
    }

    @include media.xxl {
      font-size: 4.2rem;
    }

    @include media.xxxl {
      font-size: 4.5rem;
    }

    &:not(:last-child) {
      margin-bottom: 1rem;

      @include media.xl {
        margin-bottom: 1.2rem;
      }

      @include media.xxl {
        margin-bottom: 1.4rem;
      }

      @include media.xxxl {
        margin-bottom: 1.5rem;
      }
    }
  }

  &__lab {
    display: inline-flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 1rem;

      @include media.xl {
        margin-bottom: 1.5rem;
      }

      @include media.xxl {
        margin-bottom: 1.4rem;
      }

      @include media.xxxl {
        margin-bottom: 1.5rem;
      }
    }

    &>span {
      display: inline-flex;
      align-items: center;

      font-weight: 600;
      font-size: 1.4rem;
      line-height: calc(17 / 14);

      font-feature-settings: 'calt' off;

      background: var(--gradient-quadro-horizontal);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;

      @include media.lg {
        font-size: 2.2rem;
      }

      @include media.xl {
        font-size: 2.4rem;
      }

      @include media.xxl {
        font-size: 2.6rem;
      }

      &:nth-child(3) {
        margin: 0 0.5rem;
      }

      &:last-child {
        line-height: calc(13 / 14);
        margin-left: 0.5rem;
      }

      &>span {
        font-size: 1.6rem;

        background: var(--color-base);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;

        margin: 0 0.5rem;

        @include media.lg {
          font-size: 2.2rem;
        }

        @include media.xl {
          font-size: 2.4rem;
        }

        @include media.xxl {
          font-size: 2.6rem;
        }
      }
    }

    &>img {
      max-width: 3rem;
      width: 100%;
      height: auto;

      object-fit: contain;

      @include media.lg {
        max-width: 4.6rem;
      }

      @include media.xl {
        max-width: 5.4rem;
      }

      @include media.xxl {
        max-width: 6.6rem;
      }
    }

    &--check {
      white-space: normal;
      padding: 0.6rem 0.8rem 0.6rem 3.2rem !important;

      @include media.xl {
        padding: 1.1rem 1rem 1.1rem 4.4rem !important;
      }

      @include media.xxl {
        padding: 1.3rem 1.2rem 1.3rem 5.1rem !important;
      }

      @include media.xxxl {
        padding: 1.4rem 1.4rem 1.4rem 6rem !important;
      }

      &>span {
        line-height: 1.2 !important;

        @include media.lg {
          font-size: 1.8rem;
        }

        @include media.xl {
          font-size: 2rem;
        }

        @include media.xxl {
          font-size: 2.2rem;
        }

        @include media.xxxl {
          font-size: 2.4rem;
        }

        br {
          @include media.lg {
            display: none;
          }
        }
      }

      &::before {
        position: absolute;
        z-index: 3;
        content: '';
        left: 1.2rem;
        top: 50%;
        width: 1.6rem;
        aspect-ratio: 1 / 1;
        background: url('../images/check.svg');
        background-size: 100% 100%;
        background-position: center center;
        transform: translateY(-50%) rotate(-15deg);

        @include media.xl {
          width: 2.4rem;
          left: 1.5rem;
        }

        @include media.xxl {
          width: 2.6rem;
          left: 1.6rem;
        }

        @include media.xxxl {
          width: 2.8rem;
          left: 1.7rem;
        }
      }
    }
  }

  &__masonry {
    margin: 0 auto;

    &:not(:last-child) {
      margin-bottom: calc(14px - var(--gap-masonry-item));
    }

    &--new {
      @include media.lg {
        flex: 0 0 53.4rem;
        max-width: none;
      }

      @include media.xl {
        flex: 0 0 60.4rem;
      }

      @include media.xxl {
        flex: 0 0 74.6rem;
      }

      @include media.xxxl {
        flex: 0 0 80.4rem;
      }

      .f-masonry {
        &__item {
          @include media.lg {
            width: calc(30.775% - var(--margin-masonry-item));

            &--cats {
              padding: 1rem 0;
            }
          }

          &:nth-child(1) {
            @include media.lg {
              order: 1;
            }
          }

          &:nth-child(2) {
            @include media.lg {
              order: 2;
            }
          }

          &:nth-child(3) {
            @include media.lg {
              order: 3;
            }
          }

          &:nth-child(4),
          &:nth-child(5),
          &:nth-child(6),
          &:nth-child(7) {
            @include media.lg {
              width: calc(33.3333% - var(--margin-masonry-item));
              height: calc(50% - var(--gap-masonry-item) / 2);
            }
          }

          &:nth-child(4) {
            @include media.lg {
              order: 6;
              width: calc(36.4333% - var(--margin-masonry-item));
            }
          }

          &:nth-child(5) {
            @include media.lg {
              order: 5;
              width: calc(33.025% - var(--margin-masonry-item));
            }
          }

          &:nth-child(6) {
            position: relative;

            @include media.lg {
              order: 4;
              width: calc(33.025% - var(--margin-masonry-item));
            }
          }

          &:nth-child(7) {
            display: none;

            @include media.lg {
              position: absolute;
              bottom: 0;
              right: 0;

              width: calc(36.4333% - var(--margin-masonry-item));

              display: block;
            }
          }
        }

        &__row {
          --gap-categories-y: 0.5rem;
          --gap-categories-x: 0.25rem;

          padding: 0 1rem;

          @include media.lg {
            --gap-categories-y: 0.3rem;
            --gap-categories-x: 0.15rem;

            padding: 0;
          }

          &+.f-masonry__text {
            font-weight: 700;

            @include media.lg {
              font-size: 1.8rem;
            }

            @include media.xl {
              font-size: 2rem;
            }

            @include media.xxl {
              font-size: 2.4rem;
            }

            @include media.xxxl {
              font-size: 2.6rem;
            }
          }
        }
      }
    }
  }

  &__text {
    width: 100%;

    font-weight: 600;
    font-size: 1.4rem;
    line-height: calc(17 / 14);

    color: var(--color-dark-gray);

    margin: 0;
    padding: 0 1rem;

    @include media.lg {
      max-width: 47.4rem;
      font-size: 1.8rem;
      padding: 0;
    }

    @include media.xl {
      max-width: 52.8rem;
      font-size: 2rem;
    }

    @include media.xxl {
      max-width: 62rem;
      font-size: 2.4rem;
      line-height: calc(29 / 24);
    }

    @include media.xxxl {
      max-width: 68.6rem;
      font-size: 2.6rem;
    }

    &:not(:last-child) {
      margin-bottom: 2.6rem;

      @include media.lg {
        margin-bottom: 2.3rem;
      }

      @include media.xl {
        margin-bottom: 3rem;
      }

      @include media.xxl {
        margin-bottom: 3.5rem;
      }
    }

    &:not(.first__text--mini) {
      background: var(--gradient-bv-horizontal);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }

    &--mini {
      max-width: 27.4rem;

      text-align: center;

      padding: 0;
      margin: 0 auto;

      @include media.lg {
        max-width: none !important;
        margin: 0;
        text-align: left;
      }
    }

    &--last {
      text-align: center;
      padding: 0;

      @include media.lg {
        text-align: left;
      }
    }
  }

  &__btn {
    &:not(:last-child) {
      margin-bottom: 1rem;

      @include media.lg {
        margin-bottom: 1.5rem;
      }

      @include media.xxl {
        margin-bottom: 2rem;
      }
    }

    &.btn-lg {
      --btn-font-weight: 500;
      --btn-font-size: 2rem;

      @include media.lg {
        --btn-padding-x: 7rem;
        --btn-font-size: 2.4rem;
      }

      @include media.xxl {
        --btn-padding-y: 1.5rem;
        --btn-padding-x: 8.6rem;
        --btn-font-size: 3rem;
      }

      @include media.xxl {
        --btn-padding-y: 1.6rem;
        --btn-padding-x: 9rem;
        --btn-font-size: 3.2rem;
      }
    }
  }
}
