section.free#free
  span.free__decor
  .free__top
    a.free__logo(href="/")
      img(src="/assets/picture/logo.svg", alt="")
  .free__wrapper
    .free__main
      h1.free__title Таро, которое говорит 
        br
        | с тобой по-настоящему
      p.free__text Попробуй расклад с ИИ и пойми, 
        br
        | что происходит на самом деле
      .free__row
        a.badge.badge--mini.free__badge(href="#!" target="_blank")
          img.badge__img(src="/assets/picture/google_play_download.svg", alt="")
        a.badge.badge--mini.free__badge(href="#!" target="_blank")
          img.badge__img(src="/assets/picture/app_store_download.svg", alt="")
    .free__cards
      picture.free__card
        img(src="/assets/picture/landing3-new/free-card-01.png", alt="")
      picture.free__card
        img(src="/assets/picture/landing3-new/free-card-02.png", alt="")