section.future#future
  .future__bg
  .container.future__container
    h2.heading.future__heading Чувствуешь, что застрял в жизни? Будущее туманно?
    .future__row
      figure.f-item.future__item
        picture.f-item__pic
          img.f-item__img(src="/assets/picture/landing3/future-01.jpg", alt="")
        figcaption.f-item__name Стресс, тревога, потеря энергии
      figure.f-item.future__item
        picture.f-item__pic
          img.f-item__img(src="/assets/picture/landing3/future-02.jpg", alt="")
        figcaption.f-item__name Нет понимания, куда двигаться дальше
      figure.f-item.future__item
        picture.f-item__pic
          img.f-item__img(src="/assets/picture/landing3/future-03.jpg", alt="")
        figcaption.f-item__name Ощущение, что жизнь управляет тобой, а не ты ею
    article.f-block.future__block
      picture.f-block__pic
        img.f-block__img(src="/assets/picture/landing3/future-04.jpg", alt="")
      .f-block__content
        h3.f-block__title Решение:
        p.f-block__text Наши специалисты и инструменты помогут тебе расшифровать подсказки Вселенной, лучше понять себя и обрести баланс.
        ul.f-block__categories
          li.f-cat.f-block__cat
            img.f-cat__img(src="/assets/picture/landing3/tarolog-icon.png", alt="")
            span.f-cat__text Тарологи
          li.f-cat.f-block__cat
            img.f-cat__img(src="/assets/picture/landing3/astrolog-icon.png", alt="")
            span.f-cat__text Астрологи
          li.f-cat.f-block__cat
            img.f-cat__img(src="/assets/picture/landing3/numerolog-icon.png", alt="")
            span.f-cat__text Нумерологи
          li.f-cat.f-block__cat
            img.f-cat__img(src="/assets/picture/landing3/psiholog-icon.png", alt="")
            span.f-cat__text Психологи
          li.f-cat.f-block__cat
            img.f-cat__img(src="/assets/picture/landing3/coach-icon.png", alt="")
            span.f-cat__text Коучи
    .cntrl.future__cntrl
      a.btn.btn-lg.btn-gradient-red(href="#") Найти специалиста
