section.get#get
  .container.get__container
    h2.heading.get__heading Что ты получишь?
    .get__row
      .get__item.get__item--gradient
        picture.get__bg
          img(src="/assets/picture/landing3-new/get-01-bg.png", alt="")
        picture.get__image
          img(src="/assets/picture/landing3-new/get-01.png", alt="")
        span.get__name Карта дня
      .get__item(style="background-color: #FFEEFF")
        picture.get__image
          img(src="/assets/picture/landing3-new/get-02.png", alt="")
        span.get__name Трактовка карт от ИИ
      .get__item.get__item--gradient
        picture.get__bg
          img(src="/assets/picture/landing3-new/get-03-bg.png", alt="")
        picture.get__image
          img(src="/assets/picture/landing3-new/get-03.png", alt="")
        span.get__name Расклады по запросам
      .get__item(style="background-color: #E9FAFF")
        picture.get__image
          img(src="/assets/picture/landing3-new/get-04.png", alt="")
        span.get__name История раскладов
      .get__item(style="background-color: #DEEBFF")
        picture.get__image
          img(src="/assets/picture/landing3-new/get-05.png", alt="")
        span.get__name Обращение 
          br
          | к психологу-тарологу
      .get__item(style="background-color: #EDEAFF")
        picture.get__image
          img(src="/assets/picture/landing3-new/get-06.png", alt="")
        span.get__name Обсуждение в чате