.line#line
  .container.line__container
    .line__wrapper
      .line__row
        .line__item
          span.line__name Не понимаю, что со мной
          picture.line__image
            img(src="/assets/picture/landing3-new/line-01.png", alt="")
        .line__item
          span.line__name Хочу, чтобы кто-то объяснил, что происходит
          picture.line__image
            img(src="/assets/picture/landing3-new/line-02.png", alt="")
        .line__item
          span.line__name Устала, но не знаю, почему
          picture.line__image
            img(src="/assets/picture/landing3-new/line-03.png", alt="")
      p.line__text Карты помогут назвать то, что внутри
        br
        | И покажут, что делать