section.quote#quote
  .container.quote__container
    .quote__block
      h2.quote__title
        svg.quote__title-icon
          use(xlink:href="#chat-icon")
        span.quote__title-text Анонимный отзыв
      p.quote__text
        span.quote__text-main Я сделала расклад, не зная, чего хочу. 
          br
          | В ИИ-трактовке была важная фраза: 
        span.quote__text-gradient “Ты ждёшь разрешения – а можешь дать его себе”.
        span.quote__text-right И это изменило мой день
